In [290]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re

In [291]:
df_amo= pd.read_csv('amocrm_sample_export.csv')

In [292]:
df_values= pd.read_csv('list_of_values.csv')

In [293]:
df_sample= pd.read_csv('certificates_list_sample.csv')

In [294]:
#Вывод таблицы во всю ширину
pd.set_option('display.max_columns', None)
df_amo.head(5)

,ID,Этап сделки,Бюджет,Дата создания сделки,Дата закрытия,DELIVERY_PRICE,Стоимость доставки,PRODUCTS,PRICE,SUBTOTAL,Выручка от клиента,Направление (вид сертификата),Номер сертификата,КОРНЕВАЯ СДЕЛКА,Номер 2-го сертификата,Сертификат на фотографа,Сертификат на тренера,Статус погашения,Дата оплаты подрядчику
0,26165303,Успешно реализовано,5500,30.11.2023 17:43:20,30.11.2023 18:00:00,0.0,NaN,катание на картинге (Варианты: 40 минут катани...,5500.0,5500.0,5500,Картинг,VKA4_4314611,NaN,NaN,NaN,NaN,NaN,NaN
1,26163311,Успешно реализовано,8000,30.11.2023 14:58:27,01.12.2023 15:09:00,NaN,NaN,Мотокросс и Эндуро (Варианты: Персональная тре...,8000.0,8000.0,8000,Мото Мотокросс,MT 273176,NaN,NaN,NaN,NaN,NaN,NaN
2,26162989,Успешно реализовано,5450,30.11.2023 14:33:51,01.12.2023 15:20:00,450.0,NaN,Стрельба из боевого оружия (Варианты: Курс «на...,5450.0,5000.0,5450,Тир. Стрельба из боевого оружия,GU2 21041,NaN,NaN,NaN,NaN,NaN,NaN
3,26160427,Успешно реализовано,34567,30.11.2023 11:37:23,02.12.2023 16:01:00,NaN,NaN,"Универсальный 23456 (Варианты: 34 567 руб., Бу...",34567.0,34567.0,34567,Универс. 23.456 и 34.567,WTF3 269703,NaN,NaN,NaN,NaN,NaN,NaN
4,26158865,Успешно реализовано,9000,30.11.2023 09:39:04,30.11.2023 09:47:00,NaN,NaN,Аэротруба (Варианты: 10 минут полёта (для 1-2 ...,9000.0,9000.0,9000,Аэротруба,VAT10 4353286,NaN,NaN,NaN,NaN,NaN,NaN

Столбцы в нижний регистр и удаление пробелов

In [295]:
df_amo.columns = df_amo.columns.str.lower()
df_values.columns = df_values.columns.str.lower()

In [296]:
df_amo.columns = df_amo.columns.str.strip()
df_values.columns = df_values.columns.str.strip()

In [309]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             2622 non-null   int64
 1   этап_сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата_создания_сделки           2622 non-null   object
 4   дата_закрытия                  2622 non-null   object
 5   delivery_price                 1647 non-null   float64
 6   стоимость_доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка_от_клиента             2498 non-null   object
 11  направление_(вид_сертификата)  2622 non-null   object
 12  номер_сертификата              2622 non-null   object
 13  корневая_сделка                135 non-null    object
 14  номер_2-го_сертификата         82 non-null     object
 15  сертификат_на_фотографа        16 non-null     object
 16  сертификат_на_тренера          97 non-null     object
 17  статус_погашения               1048 non-null   object
 18  дата_оплаты_подрядчику         1052 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 389.3+ KB

Переименование столбцов

In [298]:
#df_amo.rename(columns = {'номер сертификата':'code', 'id':'amo_id','дата закрытия':'sale_date','дата оплаты подрядчику':'sale_date'}, inplace = True )

Удаление пробелов и вставка символа "_"

In [299]:
df_amo.columns = df_amo.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_amo.columns = df_amo.columns.map(lambda x: re.sub( ' ', '', x ))

In [300]:
df_values.columns = df_values.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_values.columns = df_values.columns.map(lambda x: re.sub( ' ', '', x ))

df_amo.rename(columns = {'номер_сертификата':'code', 'old_col2 ':' new_col2 '}, inplace = True )

df_test = df_test.merge(df_full[['final.output.recovery', 'rougher.output.recovery', 'date']], how='left', on='date')

df.columns = df.columns.str.lower()

df.query('critic_score.isna()').groupby('year_of_release')['na_sales'].count()

df.dropna(subset=['year_of_release'], inplace=True)
 Приеобразование типа данных

 df['user_score'] = df['user_score'].astype(float)
 df['user_score'] = df['user_score'].astype(float)
Рейтинг K-A - старое название E, поэтому их необходимо будет объединить

df['rating'] = df['rating'].replace('K-A', 'E')
df['rating'] = df['rating'].replace('K-A', 'E')

**Создание заглушек для rating**
df.loc[df['rating'].isna(),'rating'] = 'U'


Суммарные продажи

sum_total = data.groupby('platform').agg(total_sales=('total_sales','sum')).sort_values(by='total_sales', ascending = False)


Постоение распределения по годам
sales_year_distr = data.pivot_table(index=['family'],
                                    columns=['year_of_release'],
                                    values='total_sales',
                                    aggfunc=['sum']).droplevel(level=0,axis=1)


заменим е на ё и все посёлки, кроме городского типа преобразуем просто в посёлки

df.replace('(поселок)','посёлок',regex=True, inplace = True)
df.replace('(городской посёлок)','посёлок городского типа',regex=True, inplace = True)
df.replace('(поселок)','посёлок',regex=True, inplace = True)
df.replace('(городской посёлок)','посёлок городского типа',regex=True, inplace = True)
df.replace('(посёлок городского типа)','пгт.',regex=True, inplace = True)
df.replace('(посёлок при железнодорожной станции|коттеджный посёлок)','посёлок',regex=True, inplace = True)
df.replace('(посёлок городского типа)','пгт.',regex=True, inplace = True)
df.replace('(посёлок городского типа)','пгт.',regex=True, inplace = True)

Наименования столбцов не по канону, меняем на правильные

df.columns = df.columns.map(lambda x: re.sub( '(?<!^)(?=[A-Z])', '_', x ).lower())
df.columns = df.columns.map(lambda x: re.sub( '(?<!^)(?=[A-Z])', '_', x ).lower())

In [301]:
df_values.head(5)

,id,activity_name,value,status,prefix,purchase_price,sale_price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\r\nна вол...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\r\nна волн...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\r\nна в...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\r\nна в...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\r\nна в...,on_air,WS25,NaN,5000.0

In [302]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              198 non-null    int64
 1   activity_name   198 non-null    object
 2   value           196 non-null    object
 3   status          198 non-null    object
 4   prefix          198 non-null    object
 5   purchase_price  167 non-null    float64
 6   sale_price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

In [344]:
df_amo_temp = df_amo.copy()

In [345]:
df_amo_temp.rename(columns = {'номер_сертификата':'code', 'id':'amo_id','дата_закрытия':'sale_date','дата_оплаты_подрядчику':'card_used_date'}, inplace = True )

In [346]:
#df_amo_prefix['prefix'] = df_amo_prefix['code']

In [347]:
#df_amo_temp['prefix'] = df_amo_temp['code'].apply(lambda x: x[0:x.find(' ')] if x.find(' ') > 0 else '')

In [348]:
#df_amo_temp['number'] = df_amo_temp['code'].apply(lambda x: x[x.find(' ') + 1 :] if x.find(' ') > 0 else '')

In [363]:
df_amo_temp['id'] = ''

In [349]:
df_amo_temp['prefix'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[0] if ' ' in x or '_' in x else '')

In [350]:
df_amo_temp['number'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[1] if ' ' in x or '_' in x else '')

База АМО без prefix

In [352]:
df_amo_without_prefix = df_amo_temp.loc[df_amo_temp['prefix'] == '']

База АМО c prefix

In [354]:
df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [355]:
df_amo_temp['card_type'] = df_amo_temp['prefix'].apply(lambda x: 'electronic' if x[0] == 'V' else 'paper')

In [356]:
df_amo_temp['design_type'] = 'design1'

In [357]:
df_amo_temp['status'] = ''

In [358]:
df_amo_temp['stock_status'] = ''

In [359]:
df_amo_temp['sale_price'] = ''

In [ ]:
df_amo_temp['expiry_date'] = ''

In [360]:
df_amo_temp['created_at'] = ''

In [ ]:
df_amo_temp['updated_at'] = ''

In [361]:
df_amo_temp['deleted_at'] = ''

In [362]:
df_amo_temp.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,prefix,number,card_type,design_type,status,stock_status,sale_price,created_at,deleted_at
0,26165303,Успешно реализовано,5500,30.11.2023 17:43:20,30.11.2023 18:00:00,0.0,NaN,катание на картинге (Варианты: 40 минут катани...,5500.0,5500.0,5500,Картинг,VKA4_4314611,NaN,NaN,NaN,NaN,NaN,NaN,VKA4,4314611,electronic,design1,,,,,
1,26163311,Успешно реализовано,8000,30.11.2023 14:58:27,01.12.2023 15:09:00,NaN,NaN,Мотокросс и Эндуро (Варианты: Персональная тре...,8000.0,8000.0,8000,Мото Мотокросс,MT 273176,NaN,NaN,NaN,NaN,NaN,NaN,MT,273176,paper,design1,,,,,
2,26162989,Успешно реализовано,5450,30.11.2023 14:33:51,01.12.2023 15:20:00,450.0,NaN,Стрельба из боевого оружия (Варианты: Курс «на...,5450.0,5000.0,5450,Тир. Стрельба из боевого оружия,GU2 21041,NaN,NaN,NaN,NaN,NaN,NaN,GU2,21041,paper,design1,,,,,
3,26160427,Успешно реализовано,34567,30.11.2023 11:37:23,02.12.2023 16:01:00,NaN,NaN,"Универсальный 23456 (Варианты: 34 567 руб., Бу...",34567.0,34567.0,34567,Универс. 23.456 и 34.567,WTF3 269703,NaN,NaN,NaN,NaN,NaN,NaN,WTF3,269703,paper,design1,,,,,
4,26158865,Успешно реализовано,9000,30.11.2023 09:39:04,30.11.2023 09:47:00,NaN,NaN,Аэротруба (Варианты: 10 минут полёта (для 1-2 ...,9000.0,9000.0,9000,Аэротруба,VAT10 4353286,NaN,NaN,NaN,NaN,NaN,NaN,VAT10,4353286,electronic,design1,,,,,
5,26147601,Успешно реализовано,3600,29.11.2023 09:55:42,29.11.2023 10:03:00,0.0,NaN,"Скалодром (Варианты: Start Up для двоих, Бумаж...",3600.0,3600.0,3600,Скалодром,VGC2_4324463,NaN,NaN,NaN,NaN,NaN,NaN,VGC2,4324463,electronic,design1,,,,,
6,26146795,Успешно реализовано,12345,29.11.2023 08:04:30,30.11.2023 18:12:00,450.0,NaN,Подарочный сертификат на 12 345 рублей (Бумажн...,12795.0,12345.0,12345,Универсальный Мосвейк 12345,W&F_263138,NaN,NaN,NaN,NaN,NaN,NaN,W&F,263138,paper,design1,,,,,
7,26145007,Успешно реализовано,7000,28.11.2023 21:39:34,28.11.2023 22:40:00,0.0,NaN,Квадроциклы (Варианты: 1 квадрик 1 час с пасса...,7000.0,7000.0,7000,Квадроциклы,VKVP1X1_4382987,NaN,NaN,NaN,NaN,NaN,NaN,VKVP1X1,4382987,electronic,design1,,,,,
8,26142669,Успешно реализовано,10000,28.11.2023 16:48:33,28.11.2023 17:34:00,NaN,NaN,"Снегоходы (Варианты: 1 снежик на 2 часа, Бумаж...",10000.0,10000.0,10000,Снегоходы,SN2X1 179814,NaN,NaN,NaN,NaN,NaN,NaN,SN2X1,179814,paper,design1,,,,,
9,26139797,Успешно реализовано,0,28.11.2023 13:18:52,02.12.2023 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X 184479,#26139623,NaN,NaN,NaN,NaN,NaN,SN1X,184479,paper,design1,,,,,