In [309]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re

In [310]:
df_amo= pd.read_csv('amocrm_sample_export.csv', encoding='utf-8')

In [311]:
df_values= pd.read_csv('list_of_values.csv', encoding='utf-8')

In [312]:
df_sample= pd.read_csv('certificates_list_sample.csv', encoding='utf-8')

In [313]:
#Вывод таблицы во всю ширину
pd.set_option('display.max_columns', None)
df_amo.head(5)

,ID,Этап сделки,Бюджет,Дата создания сделки,Дата закрытия,DELIVERY_PRICE,Стоимость доставки,PRODUCTS,PRICE,SUBTOTAL,Выручка от клиента,Направление (вид сертификата),Номер сертификата,КОРНЕВАЯ СДЕЛКА,Номер 2-го сертификата,Сертификат на фотографа,Сертификат на тренера,Статус погашения,Дата оплаты подрядчику
0,26165303,Успешно реализовано,5500,30.11.2023 17:43:20,30.11.2023 18:00:00,0.0,NaN,катание на картинге (Варианты: 40 минут катани...,5500.0,5500.0,5500,Картинг,VKA4_4314611,NaN,NaN,NaN,NaN,NaN,NaN
1,26163311,Успешно реализовано,8000,30.11.2023 14:58:27,01.12.2023 15:09:00,NaN,NaN,Мотокросс и Эндуро (Варианты: Персональная тре...,8000.0,8000.0,8000,Мото Мотокросс,MT 273176,NaN,NaN,NaN,NaN,NaN,NaN
2,26162989,Успешно реализовано,5450,30.11.2023 14:33:51,01.12.2023 15:20:00,450.0,NaN,Стрельба из боевого оружия (Варианты: Курс «на...,5450.0,5000.0,5450,Тир. Стрельба из боевого оружия,GU2 21041,NaN,NaN,NaN,NaN,NaN,NaN
3,26160427,Успешно реализовано,34567,30.11.2023 11:37:23,02.12.2023 16:01:00,NaN,NaN,"Универсальный 23456 (Варианты: 34 567 руб., Бу...",34567.0,34567.0,34567,Универс. 23.456 и 34.567,WTF3 269703,NaN,NaN,NaN,NaN,NaN,NaN
4,26158865,Успешно реализовано,9000,30.11.2023 09:39:04,30.11.2023 09:47:00,NaN,NaN,Аэротруба (Варианты: 10 минут полёта (для 1-2 ...,9000.0,9000.0,9000,Аэротруба,VAT10 4353286,NaN,NaN,NaN,NaN,NaN,NaN

In [364]:
df_values.head(5)

,id,activity_name,value,status,prefix,purchase_price,sale_price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0

Столбцы в нижний регистр и удаление пробелов

In [314]:
df_amo.columns = df_amo.columns.str.lower()
df_values.columns = df_values.columns.str.lower()

In [315]:
df_amo.columns = df_amo.columns.str.strip()
df_values.columns = df_values.columns.str.strip()

In [316]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             2622 non-null   int64
 1   этап сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата создания сделки           2622 non-null   object
 4   дата закрытия                  2622 non-null   object
 5   delivery_price                 1647 non-null   float64
 6   стоимость доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка от клиента             2498 non-null   object
 11  направление (вид сертификата)  2622 non-null   object
 12  номер сертификата              2622 non-null   object
 13  корневая сделка                135 non-null    object
 14  номер 2-го сертификата         82 non-null     object
 15  сертификат на фотографа        16 non-null     object
 16  сертификат на тренера          97 non-null     object
 17  статус погашения               1048 non-null   object
 18  дата оплаты подрядчику         1052 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 389.3+ KB

Удаление пробелов и вставка символа "_"

In [317]:
df_amo.columns = df_amo.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_amo.columns = df_amo.columns.map(lambda x: re.sub( ' ', '', x ))

In [318]:
df_values.columns = df_values.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_values.columns = df_values.columns.map(lambda x: re.sub( ' ', '', x ))

In [319]:
df_values.head(5)

,id,activity_name,value,status,prefix,purchase_price,sale_price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0

In [320]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              198 non-null    int64
 1   activity_name   198 non-null    object
 2   value           196 non-null    object
 3   status          198 non-null    object
 4   prefix          198 non-null    object
 5   purchase_price  167 non-null    float64
 6   sale_price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

In [321]:
prefix_values = df_values['prefix'].unique()

In [322]:
prefix_values

array(['WS2', 'WS1', 'WS40', 'WS30', 'WS25', 'WSN2', 'WSN1', 'WSN40',
       'WSN25', 'MF60', 'MF30', 'MF20', 'HB60', 'HB30', 'HY60', 'HY30',
       '2WP24', 'WP2H', 'WP60', 'WP15', 'SU24', 'SU60', 'SUT', 'EFL30',
       'EFL60', 'SKI60', 'SKI40', 'W&F', 'MWS2', 'MWS1', 'MWS40', 'MWS30',
       'MWS25', 'MWSN2', 'MWSN1', 'MWSN40', 'MWSN25', 'MMF60', 'MMF30',
       'MMF20', 'MHB60', 'MHY60', 'MHY30', '2MWP24', 'MWP2H', 'MWP60',
       'MWP15', 'MSU24', 'MSU60', 'MEFL30', 'MEFL60', 'MSKI60', 'MSKI40',
       'AC2', 'AC60', 'AC30', 'RB60', 'RB40', 'RB30', 'RB20', 'RB15',
       'CSR60', 'CS60', 'CS40', 'CS30', 'CS20', 'PR60', 'PR40', 'PR30',
       'PR20', 'RT', 'RTV', 'RC', 'RCV', 'RX', 'RXV', 'DRCH', 'DRC2H',
       'ED3H', 'EDС', 'AT4', 'AT6', 'AT10', 'AT15', 'AT30', 'AT4K',
       'AT6K', 'AT60', 'BG', 'BGH', 'BGK', 'BGKH', 'GR1', 'GR2', 'OWG',
       'OWI', 'OW2', 'CW1', 'CW2', 'CWH', 'CW1T', 'CW2T', 'KA2', 'KA4',
       'KA6', 'KAT', 'KAT2', 'KAT4', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP',
       'LL3H', 'KW', 'KW2', 'KS', 'KS2', 'KYT', 'KYT2', 'KV1X1', 'KVP1X1',
       'KV2X1', 'KVP2X1', 'BF40', 'BF90', 'BF180', 'YEР', 'YHD', 'YAS',
       'DT30', 'DT32', 'DT40', 'DT42', 'DT60', 'DT62', 'DTM', 'МТ', 'МТТ',
       'МТ5', 'MT10', 'РB', 'РB2', 'РB2X', 'EB1x', 'EB2x', 'EB4x', 'MB',
       'MB2', 'MB2X', 'PL15', 'PL20', 'PL30', 'PP', 'PP2', 'PPP', 'PP2P',
       'PPS', 'PP2S', 'PPT', 'SK', 'SK2', 'SKV', 'SK2V', 'SKT', 'RJ',
       'RJ2', 'GC1', 'GC2', 'SN1X', 'SN2X', 'SKT1', 'SKT2', 'SKT4',
       'SKT6', 'SKT10', 'SG5', 'SG10', 'GU', 'GU2', 'MW&F', 'WTF2',
       'WTF3', 'SH', 'SH2', 'SHH', 'FR', 'FR2,', 'FRT', 'FRK', 'FRTK',
       'TB', 'TB2', 'TB4', 'ABG', 'AB4G', 'AB', 'AB4'], dtype=object)

In [323]:
len(prefix_values)

197

Все prefix прописные

Копирование исходной базы

In [324]:
df_amo_temp = df_amo.copy()

Переименование столбцов

In [325]:
df_amo_temp.rename(columns = {'номер_сертификата':'code', 'id':'amo_id','дата_закрытия':'sale_date','дата_оплаты_подрядчику':'card_used_date'}, inplace = True )

In [326]:
df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

C:\Users\fiv_e\AppData\Local\Temp\ipykernel_6376\1868446354.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

In [327]:
df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

C:\Users\fiv_e\AppData\Local\Temp\ipykernel_6376\3706027285.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

In [328]:
df_amo_temp['card_used_date'] = pd.to_datetime(df_amo_temp['card_used_date'],errors='coerce')

In [329]:
df_amo_temp = df_amo_temp.sort_values(by=["дата_создания_сделки"], ascending=True)

In [330]:
df_amo_temp = df_amo_temp.reset_index(drop=True)

In [331]:
df_amo_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amo_id                         2622 non-null   int64
 1   этап_сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата_создания_сделки           2622 non-null   datetime64[ns]
 4   sale_date                      2622 non-null   datetime64[ns]
 5   delivery_price                 1647 non-null   float64
 6   стоимость_доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка_от_клиента             2498 non-null   object
 11  направление_(вид_сертификата)  2622 non-null   object
 12  code                           2622 non-null   object
 13  корневая_сделка                135 non-null    object
 14  номер_2-го_сертификата         82 non-null     object
 15  сертификат_на_фотографа        16 non-null     object
 16  сертификат_на_тренера          97 non-null     object
 17  статус_погашения               1048 non-null   object
 18  card_used_date                 441 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(4), int64(2), object(10)
memory usage: 389.3+ KB

In [332]:
df_amo_temp.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date
0,23400119,Успешно реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X 2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02
1,23400461,Успешно реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет на параплане (Варианты: 1 полет с инстру...,4500.0,4500.0,4500,Параплан,P1G 251473,NaN,NaN,NaN,NaN,NaN,NaT
2,23400807,Успешно реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы (Варианты: 2 снежика на 1 час, Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X 2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02
3,23401947,Успешно реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный сертификат на 12 345 рублей - 1x123...,12345.0,12345.0,12345,Универсальный Мосвейк 12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT
4,23403789,Успешно реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы (Варианты: 2 квадрика на 1 час без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1 138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT
5,23408953,Успешно реализовано,27000,2023-01-05 10:02:22,2023-01-05 11:31:00,NaN,NaN,Заезд на спорткаре по гоночной трассе (Вариант...,27000.0,27000.0,27000,Авто Заезд на спорткаре,VRCV_2477875,NaN,NaN,NaN,NaN,NaN,NaT
6,23409993,Успешно реализовано,3500,2023-01-05 13:43:49,2023-01-06 08:06:00,NaN,NaN,"Вейк в бассейне (Варианты: Start Up, Бумажный ...",3500.0,3500.0,3500,Вейк-парк крытый,VGR1_2480017,NaN,NaN,NaN,NaN,NaN,NaT
7,23409837,Успешно реализовано,7000,2023-01-05 13:57:46,2023-01-05 14:41:00,NaN,NaN,"Зимний кайтинг (Варианты: 2 часа для одного, Б...",7000.0,7000.0,7000,Сноукайтинг,VSKT1_2426359,NaN,NaN,NaN,NaN,NaN,NaT
8,23410089,Успешно реализовано,15500,2023-01-05 14:17:46,2023-01-12 13:33:00,500.0,NaN,Вертолет Robinson R44 (Варианты: 20 минут полё...,15500.0,15000.0,15500,Авиа Вертолет,RB20_155687,NaN,NaN,NaN,NaN,Погашен,2023-03-07
9,23411393,Успешно реализовано,8300,2023-01-05 19:46:14,2023-01-15 17:28:00,500.0,NaN,Аэротруба (Варианты: 4 минуты полёта (для 1 че...,8300.0,7800.0,8300,Аэротруба,AT4 127813,NaN,NaN,NaN,NaN,Погашен,2023-08-10

Определение разделителей в поле **code**

In [333]:
cc = df_amo_temp['code'].unique()

In [334]:
set_cc = set()

In [335]:
for el in cc:
    set_cc.update(el)

In [336]:
print(set_cc)

{'3', 'Т', 'k', 'K', 'D', '1', 'G', '6', 'f', 'Y', 'S', 'A', 'I', 'v', 'E', 'W', 'C', 'B', 'h', 'w', '(', 'Р', 's', '5', '&', 'Н', 'М', 'x', 'r', 'n', 'e', 'M', 'J', 'С', 'и', '0', 'P', 'L', '_', '7', 'К', ')', 'U', 'T', '\xa0', 'R', 'V', 'В', '2', 'X', 'l', '8', 'А', 'N', 'c', 'F', 'H', 'p', '9', 'u', ' ', '4', 't'}

В качестве разделителей используются символы ' ', '_', '\xa0'

In [337]:
df_amo_temp['code'] = df_amo_temp['code'].str.replace('  ','_')

In [338]:
df_amo_temp['code'] = df_amo_temp['code'].str.replace(' _','_')

In [339]:
df_amo_temp['code'] = df_amo_temp['code'].str.replace('_ ','_')

In [340]:
df_amo_temp['code'] = df_amo_temp['code'].str.replace('\xa0','_')

In [341]:
df_amo_temp['code'] = df_amo_temp['code'].str.upper()

'\xa0' -  NO-BREAK SPACE (неразрывный пробел)

Формирование новых столбцов в базе АМО

In [342]:
df_amo_temp['id'] = ''

In [343]:
df_amo_temp['prefix'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[0] if ' ' in x or '_' in x else '')

In [344]:
df_amo_temp['number'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[1] if ' ' in x or '_' in x else '')

In [345]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
0,23400119,Успешно реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X 2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352
1,23400461,Успешно реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет на параплане (Варианты: 1 полет с инстру...,4500.0,4500.0,4500,Параплан,P1G 251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473
2,23400807,Успешно реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы (Варианты: 2 снежика на 1 час, Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X 2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270
3,23401947,Успешно реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный сертификат на 12 345 рублей - 1x123...,12345.0,12345.0,12345,Универсальный Мосвейк 12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026
4,23403789,Успешно реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы (Варианты: 2 квадрика на 1 час без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1 138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834

База АМО без prefix

In [346]:
df_amo_without_prefix = df_amo_temp.loc[df_amo_temp['prefix'] == '']

In [347]:
df_amo_without_prefix.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
19,23443209,Успешно реализовано,0,2023-01-10 18:26:42,2023-01-10 18:28:00,NaN,NaN,NaN,NaN,NaN,NaN,САП-сёрф,VSU75738,NaN,NaN,NaN,NaN,NaN,NaT,,,
20,23443225,Успешно реализовано,0,2023-01-10 18:29:34,2023-01-10 18:29:00,NaN,NaN,NaN,NaN,NaN,NaN,Вейк-парк,VWP62133,NaN,NaN,NaN,NaN,NaN,NaT,,,
25,20077943,Успешно реализовано,3850,2023-01-12 04:11:27,2021-10-16 12:19:00,0.0,NaN,Полет на параплане (Варианты: 1 полет с инстру...,3500.0,3500.0,3850,Параплан,P1232498,NaN,NaN,NaN,NaN,Погашен,NaT,,,
26,23454713,Успешно реализовано,7000,2023-01-12 13:21:40,2023-01-13 16:44:00,NaN,NaN,Полет на параплане (Варианты: Мини курс «Второ...,7000.0,7000.0,7000,Параплан,P1P255683,NaN,NaN,NaN,NaN,Погашен,2023-06-06,,,
29,23456591,Успешно реализовано,10500,2023-01-12 17:38:01,2023-01-14 05:22:00,500.0,NaN,Подарочный сертификатв вейк-парк (Выберите тип...,10500.0,10000.0,10500,Вейк-парк,2WP89087,NaN,NaN,NaN,NaN,NaN,NaT,,,

База АМО c prefix

In [348]:
df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [349]:
prefix_df_amo = df_amo_temp['prefix'].unique()

In [350]:
prefix_df_amo

array(['VSN1X', 'P1G', 'VSN2X', 'VW&F', 'KVP1X1', 'VRCV', 'VGR1', 'VSKT1',
       'RB20', 'AT4', 'VSH2', 'KVP2X1', 'VWS40', 'SKT1', 'VAT10', 'VCW1',
       'VDRC2H', 'VAT4', 'SN2X', 'KA2', 'VCW1T', 'VDTM', 'VLL1H', 'F1',
       'VKVP1X1', 'VWS30T', 'VPP', 'VKVP2X1', 'VWS60T', 'SN1X', 'VBGH',
       'WS40', 'WS30', 'CW1', 'AT6', 'VKV2X1', 'VBG', 'VWS20', 'MT2',
       'VFR', 'DRC2H', 'VWS30', 'VAT6', 'VSH', 'АТ4', 'VEB1X', 'VHY30',
       'VSU60', 'VPP2P', 'VSKT', 'VKA4', 'KA4', 'KV1X1', 'WS60', 'GR1',
       'VWS60', 'VPR30', 'VMT', 'DT60', 'VPPP', 'WTF2', 'VED3H', 'MF30',
       'VKV1X', 'VKA6', 'MF60', 'VDT40', 'МТ2', 'VSKI40', 'PR30', 'RC',
       'SP', 'SN1X1', 'BG', 'VEFL30', 'VMF20', 'VEF30', 'VMB2', 'VMB',
       'SN2X1', 'КА4', 'DT40', 'VWS20T', 'VGC1', 'GR2', 'SP2', 'VKA2',
       'VCS20', 'VBGKH', 'MTT', 'VGC2', 'S', 'SKT2', 'VAT15', 'VCW2T',
       'SH2', 'АТ6', 'VDT60', 'VDT62', 'VSU24', 'КА6', 'MF20', 'VS2',
       'SU60', 'VWSN60T', 'VBF40', 'VBF180', 'VCW2', 'АТ10', 'VYEР',
       'WSN60', 'VSK2', 'КА2', 'VMF30', 'VSK', 'VBF90', 'VSKV', 'WF',
       'VPR60', 'VWF', 'KV2X1', 'CW2', 'АТ6К', 'WS20', 'VKV1X1', 'LL1H',
       'P1P', 'VWP60', 'EF30', 'VDT30', 'KA6', 'P1', 'YEP', 'VHB20',
       'VKAT2', 'WTF3', 'RB15', 'VPPS', 'EFL60', 'VWS40T', 'PS', 'VRC',
       'VMF60', 'VSKI60', 'P2', 'VAT4K', 'AT15', 'VPP2', 'SKIN60',
       'VWP15', 'KR4', 'HB20', 'EB1X', 'DT30', 'RXV', 'VWSN40T', 'SHH',
       'S2', 'GR1X1', 'Р1', 'VWSN60', 'BGH', 'VS', 'VLL2H', 'VPR20',
       'RCV', 'CS40', 'ST', 'KR2', 'VRJ', 'GU', 'VMT2', 'W&F', 'WP2H',
       'MT5', 'HB30', 'P2G', 'SKI40', 'VUN', 'VCS30', 'VKAT', 'VGU',
       'WP15', 'KAT2', 'VSK2V', 'VWPA', 'EFL30', 'CS30', 'SU24', 'КR2',
       'VHB30', 'VHY60', 'KS2', 'RTV', 'VRJ2X', 'CS20', 'VRJ2', 'SKV',
       'AT10', 'VCS40', 'VSVH', 'VSP', 'VFR2', 'VAC60', 'SG7', 'VGR2',
       'VEF60', 'LL2H', 'VBGK', 'CS60', 'VРB', 'WVS30', 'VAC30', 'VYEP',
       'VKVP1X', 'VWTF2', 'VGU2', 'GC2', 'VSUT', 'WP60', 'PPP', 'PB',
       'ES130', 'KS', 'КАТ', 'VSP2', 'DT240', 'GU2', 'VMTT', 'SH',
       'VHY30T', 'Р2', 'НВ30', 'RJ', 'WS30T', 'VSG7', 'VST', 'MF',
       'BF180', 'PR60', 'RJ2', 'VMT5', 'VRJ1X', 'VPB', 'RB30', 'ED3H',
       'VAT30', 'VEFL', 'VWSN40', 'VYAS', 'VKAT4', 'WSN40', 'UN', 'BF90',
       'EDC', 'DT230', 'VLL3H', 'PR40', 'VCS60', 'VEB2X', 'BF40', 'SC7',
       'VHY60T30', 'АС60', 'Р1Р', 'VSC7', 'РB2X', 'SC', 'VLB1X', 'EB2X',
       'AT4K', 'VRTV', 'VSC10', 'GC1', 'MT', 'VAT6K', 'PR20', 'VMB2X',
       'YEР', 'PB2', 'AC60', 'KAT', 'VSN2X1', 'VWTF'], dtype=object)

In [351]:
len(prefix_df_amo)

284

Есть совпадения, в prefix. Видимо криллица вперемешку с латиницей

In [352]:
pA = set(prefix_df_amo)

In [353]:
pB = set(prefix_values)

In [360]:
pC = pA - pB

In [361]:
pC

{'DT230',
 'DT240',
 'EB1X',
 'EB2X',
 'EDC',
 'EF30',
 'ES130',
 'F1',
 'GR1X1',
 'HB20',
 'KR2',
 'KR4',
 'MF',
 'MT',
 'MT2',
 'MT5',
 'MTT',
 'P1',
 'P1G',
 'P1P',
 'P2',
 'P2G',
 'PB',
 'PB2',
 'PS',
 'S',
 'S2',
 'SC',
 'SC7',
 'SG7',
 'SKIN60',
 'SN1X1',
 'SN2X1',
 'SP',
 'SP2',
 'ST',
 'UN',
 'VAC30',
 'VAC60',
 'VAT10',
 'VAT15',
 'VAT30',
 'VAT4',
 'VAT4K',
 'VAT6',
 'VAT6K',
 'VBF180',
 'VBF40',
 'VBF90',
 'VBG',
 'VBGH',
 'VBGK',
 'VBGKH',
 'VCS20',
 'VCS30',
 'VCS40',
 'VCS60',
 'VCW1',
 'VCW1T',
 'VCW2',
 'VCW2T',
 'VDRC2H',
 'VDT30',
 'VDT40',
 'VDT60',
 'VDT62',
 'VDTM',
 'VEB1X',
 'VEB2X',
 'VED3H',
 'VEF30',
 'VEF60',
 'VEFL',
 'VEFL30',
 'VFR',
 'VFR2',
 'VGC1',
 'VGC2',
 'VGR1',
 'VGR2',
 'VGU',
 'VGU2',
 'VHB20',
 'VHB30',
 'VHY30',
 'VHY30T',
 'VHY60',
 'VHY60T30',
 'VKA2',
 'VKA4',
 'VKA6',
 'VKAT',
 'VKAT2',
 'VKAT4',
 'VKV1X',
 'VKV1X1',
 'VKV2X1',
 'VKVP1X',
 'VKVP1X1',
 'VKVP2X1',
 'VLB1X',
 'VLL1H',
 'VLL2H',
 'VLL3H',
 'VMB',
 'VMB2',
 'VMB2X',
 'VMF20',
 'VMF30',
 'VMF60',
 'VMT',
 'VMT2',
 'VMT5',
 'VMTT',
 'VPB',
 'VPP',
 'VPP2',
 'VPP2P',
 'VPPP',
 'VPPS',
 'VPR20',
 'VPR30',
 'VPR60',
 'VRC',
 'VRCV',
 'VRJ',
 'VRJ1X',
 'VRJ2',
 'VRJ2X',
 'VRTV',
 'VS',
 'VS2',
 'VSC10',
 'VSC7',
 'VSG7',
 'VSH',
 'VSH2',
 'VSK',
 'VSK2',
 'VSK2V',
 'VSKI40',
 'VSKI60',
 'VSKT',
 'VSKT1',
 'VSKV',
 'VSN1X',
 'VSN2X',
 'VSN2X1',
 'VSP',
 'VSP2',
 'VST',
 'VSU24',
 'VSU60',
 'VSUT',
 'VSVH',
 'VUN',
 'VW&F',
 'VWF',
 'VWP15',
 'VWP60',
 'VWPA',
 'VWS20',
 'VWS20T',
 'VWS30',
 'VWS30T',
 'VWS40',
 'VWS40T',
 'VWS60',
 'VWS60T',
 'VWSN40',
 'VWSN40T',
 'VWSN60',
 'VWSN60T',
 'VWTF',
 'VWTF2',
 'VYAS',
 'VYEP',
 'VYEР',
 'VРB',
 'WF',
 'WS20',
 'WS30T',
 'WS60',
 'WSN60',
 'WVS30',
 'YEP',
 'АС60',
 'АТ10',
 'АТ4',
 'АТ6',
 'АТ6К',
 'КR2',
 'КА2',
 'КА4',
 'КА6',
 'КАТ',
 'МТ2',
 'НВ30',
 'Р1',
 'Р1Р',
 'Р2'}

In [362]:
len(pC)

201

In [357]:
missing_prefix = set(prefix_df_amo) -set(prefix_values)

In [358]:
print(missing_prefix)

{'АТ6', 'VPB', 'VKV1X1', 'VMB', 'VBF40', 'MT', 'VWSN60T', 'GR1X1', 'P2', 'SN2X1', 'WVS30', 'VKVP1X', 'WS30T', 'VKAT', 'VPP2', 'VSK2V', 'VCW1', 'VWS60', 'VGU', 'VEF60', 'VAT30', 'VHB30', 'VSN1X', 'VMT2', 'VCS20', 'VMF20', 'КАТ', 'VYEР', 'VW&F', 'VKA6', 'EDC', 'VDT60', 'КR2', 'P2G', 'Р1Р', 'PS', 'VPP2P', 'EB2X', 'SC', 'VDRC2H', 'VKA4', 'АТ4', 'VWSN60', 'VRJ', 'VKVP1X1', 'VFR2', 'АТ10', 'VEB1X', 'WF', 'S2', 'EB1X', 'MT5', 'VSKT1', 'WS60', 'VSU24', 'VAT6', 'VFR', 'VEFL30', 'VSC10', 'VCS60', 'VHY30T', 'АТ6К', 'PB', 'WS20', 'VWPA', 'VEFL', 'VHY30', 'VРB', 'VKVP2X1', 'НВ30', 'VSG7', 'WSN60', 'VMTT', 'VBF90', 'VWS30T', 'VRJ2X', 'VWS40T', 'DT230', 'ST', 'МТ2', 'VBGKH', 'VGR2', 'P1G', 'VCW2T', 'UN', 'VKV1X', 'VRC', 'VWS40', 'VWSN40', 'VPR30', 'VPR60', 'VSKI40', 'VSN2X', 'VHB20', 'VWS20T', 'SP', 'VCW2', 'VST', 'VKA2', 'P1P', 'VSVH', 'VRCV', 'VWTF2', 'VYAS', 'VSP', 'PB2', 'VKAT4', 'VAT6K', 'VYEP', 'VSKT', 'VSU60', 'КА4', 'VSK2', 'SC7', 'VEF30', 'VAT10', 'SKIN60', 'VS', 'VRTV', 'АС60', 'VDT30', 'VPPS', 'S', 'VCS30', 'YEP', 'VWS30', 'VWP15', 'VMB2X', 'VAC30', 'VHY60', 'VPR20', 'VLB1X', 'VS2', 'VAT4', 'VGU2', 'VCW1T', 'VPPP', 'VAT15', 'VGC1', 'VLL1H', 'MT2', 'VGR1', 'КА6', 'VSH', 'VDT40', 'VSH2', 'SP2', 'Р2', 'VPP', 'KR2', 'VMB2', 'VDT62', 'VRJ1X', 'VWP60', 'КА2', 'VRJ2', 'VAC60', 'Р1', 'VWTF', 'VDTM', 'SG7', 'VAT4K', 'VUN', 'VHY60T30', 'VBGH', 'HB20', 'VWF', 'VSC7', 'VWS20', 'VMF60', 'MF', 'VSP2', 'F1', 'SN1X1', 'VMT5', 'VBF180', 'VMF30', 'VSKI60', 'VSN2X1', 'VBG', 'VMT', 'VWSN40T', 'ES130', 'VSKV', 'VKV2X1', 'VWS60T', 'VEB2X', 'DT240', 'VLL2H', 'VSUT', 'VCS40', 'EF30', 'VKAT2', 'VSK', 'VGC2', 'VBGK', 'KR4', 'P1', 'VLL3H', 'MTT', 'VED3H'}

In [359]:
len(missing_prefix)

201

In [37]:
df_amo_temp['card_type'] = df_amo_temp['prefix'].apply(lambda x: 'electronic' if x[0] == 'V' else 'paper')

In [38]:
df_amo_temp['design_type'] = 'design1'

In [39]:
df_amo_temp['status'] = ''

In [40]:
df_amo_temp['stock_status'] = ''

In [41]:
df_amo_temp['sale_price'] = 0

In [42]:
df_amo_temp['expiry_date'] = ''

In [43]:
df_amo_temp['created_at'] = ''

In [44]:
df_amo_temp['updated_at'] = ''

In [45]:
df_amo_temp['deleted_at'] = ''

In [46]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

In [47]:
df_amo_temp.query('status=="sold_used"').head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
0,23400119,Успешно реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X 2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352,electronic,design1,sold_used,,0,,,,
2,23400807,Успешно реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы (Варианты: 2 снежика на 1 час, Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X 2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270,electronic,design1,sold_used,,0,,,,
3,23401947,Успешно реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный сертификат на 12 345 рублей - 1x123...,12345.0,12345.0,12345,Универсальный Мосвейк 12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026,electronic,design1,sold_used,,0,,,,
4,23403789,Успешно реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы (Варианты: 2 квадрика на 1 час без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1 138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,design1,sold_used,,0,,,,
8,23410089,Успешно реализовано,15500,2023-01-05 14:17:46,2023-01-12 13:33:00,500.0,NaN,Вертолет Robinson R44 (Варианты: 20 минут полё...,15500.0,15000.0,15500,Авиа Вертолет,RB20_155687,NaN,NaN,NaN,NaN,Погашен,2023-03-07,,RB20,155687,paper,design1,sold_used,,0,,,,

Обработка **sale_price**

In [48]:
df_amo_temp['номер_2-го_сертификата'].notna().sum()

81

In [49]:
df_amo_temp['номер_2-го_сертификата'].unique()

array([nan, 'VKV2X1_2415531DIZ', 'VBGH 2415955DIS', 'VSN2X_2416042DIS',
       'VBGKH_2416119', 'VGR1_2516530DIZ', 'VAT4_2516610DIZ',
       'VRC_4031336', 'TR1 211717', 'VCW1T_2516846', 'VW&F_2517135DIS',
       'VWS40_2517352', 'SN2X1 160390 DIS', 'VKA2_2617533DIS',
       'SN2X1 160434 DIS', 'TR1 212055', 'VSH2 2618039DIS',
       'VWS30T_2618189DIS', 'WS20 151910', 'VLL1H 2818826 DIS',
       'VEF30 2818839DIS', "'+ 5шт", 'cw2 211532', 'VAT15_4131701',
       'TR2 221730', 'VRJ_3020707', 'WS60 210277', 'TR2 153064',
       'VSU60_4131657 и VSU60_4131661', 'TR2 153452', 'VWPA_3122005DIS',
       'TR1 210979', 'VWP60_3122061', 'TR2 153549', 'VKA6 362697',
       'VAT10_3122421DIS', 'TR2K 032026', 'TR2 153713', 'VPP2_3222707DIS',
       'VSU60_4334315', 'TR1 220746', 'TR1 220871', 'VMF60 3223369',
       'VGU_3323822DIS', 'VW&F_3323842 DIS', 'VWS30T_3324255DIS',
       'VKA2_3324404DIS', 'VKA4_3424614DIS', 'VED3H_4233012',
       'VWP15 3424903', 'VW&F_3425016 DIS', 'TR1 213366', 'TR1 213763-0',
       'VPP2_3425071DIS', 'VWS60 3425181 DIS', 'MF20 161382',
       'CW1 134420', 'VKV2X1_3525911 DIS', 'MF20 210180', 'MF30 210733',
       'DT40 200435', 'VRJ2_3526525DIS', 'VGU2_4030976', 'VKA4 3727599',
       'КА2 251167', 'TR1 153296', 'WS20 152353', 'VRJ_3929817DIS',
       'VPPT_3929836DIS', 'VCS40_3929966DIS', 'RB20 190275DIS',
       'VKV2X1_3930484', 'TR 261981', 'VBGK_4132499 DIS',
       'VKV2X1_4232687', 'VCW1_4232709DIS', 'TR 262244',
       'VKA2 4333620 DIS', 'VBGKH_4333650', 'TR2  262470', 'TR2K 030117',
       'SN1X 191480'], dtype=object)

In [50]:
df_amo_temp['сертификат_на_тренера'].notna().sum()

93

In [51]:
df_amo_temp['сертификат_на_тренера'].unique()

array([nan, 'TR1 213948', 'TR1 152632', 'tr1 210177', 'TR2 151532',
       'TR1 211680', 'TR1 211816', 'VTR2_2516887', 'TR1 213248',
       'TR2 222087', 'TR1 211972', 'VTR1 210225', 'TR1 212168',
       'TR2 220577', 'TR1 210394', 'VTR2_2618094', 'tr1 210456',
       'TR1 210568', 'TR2 151319', 'TR2 152737', 'TR1 210613',
       'TR2 220644', 'TR2 220734', 'tr2 220869', 'VTR1_2818656',
       'TR2 220990', 'TR1 212252', 'TR1 221949', 'TR2 220354',
       'VTR1_2819180', 'TR1212387', 'TR1212469', 'TR212535', 'TR2 221132',
       'tr2 221278', 'TR1 212656', 'TR2 221659', 'tr1 212768',
       'tr1 212819', 'TR1 210718', 'Tr2 221877', 'TR1 213023',
       'TR2 152933', 'tr2 153245', 'TR2 151448', 'TR2 153397',
       'TR1 220474', 'TR1 220378', 'Tr2 153838', 'Tr2 153986',
       'TR1 220596', 'tr1 220640', 'TR2 153698', 'tr2 151214',
       'tr1 220278', 'tr1 220915', 'TR2K 031996', 'TR2K 031744',
       'TR1 213143', 'TR2 220177', 'TR2 220282', 'TR2 220435',
       'TR1 213459', 'VWP15 3424913', 'TR1 213597', 'TR1 154047',
       'TR2 150710', 'TR2 210487 DIS', 'TR1 210629', 'TR1 210490',
       'TR2 151040', 'TR1 152196', 'TR1 153677', 'TR1 153427',
       'TR2 210887', 'TR2 210580', 'TR1 150326', 'TR1 152565',
       'VKA4 3727616', 'TR1К 030150', 'TR2 153199', 'TR2Х 031444',
       'TR2K 030361', 'TR2K 030426', 'TR 262785', 'TR 262684',
       'TR 262539', 'TR 262030', 'TR 262318', 'TR 262122', 'TR2K_030650',
       'TR2K 030782'], dtype=object)

In [52]:
df_amo_temp['сертификат_на_фотографа'].unique()

array([nan, 'TR2 221051', 'VAT10_4334364', 'TR1 212980', 'TR1 211027',
       'tr1 221012', 'TR1 220180', 'нет бумажного', 'TR1 213613',
       'TR1 153111', 'TR2 210487', 'VKA4 3727603', 'TR1 220640-0',
       'TR1 212026', 'TR2 153698', 'VKV2X1_4232690'], dtype=object)

Если в сделке 1 товар и сделка не имеет производных сделок, то использовать значение поля SUBTOTAL

In [53]:
df_amo_temp.loc[(df_amo_temp['номер_2-го_сертификата'].isna()) & \
                (df_amo_temp['сертификат_на_тренера'].isna()) &\
                (df_amo_temp['сертификат_на_фотографа'].isna()) &\
                (df_amo_temp['корневая_сделка'].isna()),\
                'sale_price'] = df_amo_temp['subtotal']

In [54]:
df_amo_temp.head(100)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
0,23400119,Успешно реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X 2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352,electronic,design1,sold_used,,5000.0,,,,
1,23400461,Успешно реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет на параплане (Варианты: 1 полет с инстру...,4500.0,4500.0,4500,Параплан,P1G 251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473,paper,design1,,,4500.0,,,,
2,23400807,Успешно реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы (Варианты: 2 снежика на 1 час, Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X 2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270,electronic,design1,sold_used,,9000.0,,,,
3,23401947,Успешно реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный сертификат на 12 345 рублей - 1x123...,12345.0,12345.0,12345,Универсальный Мосвейк 12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026,electronic,design1,sold_used,,12345.0,,,,
4,23403789,Успешно реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы (Варианты: 2 квадрика на 1 час без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1 138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,design1,sold_used,,0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,23611921,Успешно реализовано,5600,2023-02-03 14:48:41,2023-02-03 17:28:00,NaN,NaN,Аэротруба (Варианты: 6 минут полёта (для 1-2 ч...,5600.0,5600.0,5600,Аэротруба,VAT6_2532580,NaN,NaN,NaN,NaN,NaN,NaT,,VAT6,2532580,electronic,design1,,,5600.0,,,,
117,23611933,Успешно реализовано,3500,2023-02-03 17:22:30,2023-02-04 15:04:00,0.0,NaN,"Вейк в бассейне (Варианты: Start Up, Бумажный ...",3500.0,3500.0,3500,Вейк-парк крытый,GR1 095890,NaN,VGR1_2516530DIZ,NaN,NaN,NaN,NaT,,GR1,095890,paper,design1,,,0.0,,,,
118,23612531,Успешно реализовано,8500,2023-02-03 19:27:17,2023-02-03 19:37:00,NaN,NaN,Подарочный сертификатна вейксёрфинг (Выберите ...,8500.0,8500.0,8500,Вейксёрф и вейк за катером,VWS60_2523747,NaN,NaN,NaN,NaN,NaN,NaT,,VWS60,2523747,electronic,design1,,,8500.0,,,,
119,23616165,Успешно реализовано,4500,2023-02-04 15:41:02,2023-02-04 16:28:00,0.0,NaN,Искусственная волна Flow Moscow (Варианты: 1 ч...,4500.0,4500.0,4500,Искусственная волна,VCW1_2582830,NaN,NaN,NaN,NaN,NaN,NaT,,VCW1,2582830,electronic,design1,,,4500.0,,,,
121,23617303,Успешно реализовано,10000,2023-02-04 21:04:59,2023-02-05 13:21:00,0.0,NaN,Самолёт Piper Cherokee (Варианты: 30 минут пол...,10000.0,10000.0,10000,Авиа Самолёты,VPR30_2523994,NaN,NaN,NaN,NaN,NaN,NaT,,VPR30,2523994,electronic,design1,,,10000.0,,,,

Обработка поля **status**

In [55]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  \
                (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

In [56]:
duplicateRows = df_amo_temp[df_amo_temp.duplicated(['amo_id'])]

In [57]:
duplicateRows

Empty DataFrame
Columns: [amo_id, этап_сделки, бюджет, дата_создания_сделки, sale_date, delivery_price, стоимость_доставки, products, price, subtotal, выручка_от_клиента, направление_(вид_сертификата), code, корневая_сделка, номер_2-го_сертификата, сертификат_на_фотографа, сертификат_на_тренера, статус_погашения, card_used_date, id, prefix, number, card_type, design_type, status, stock_status, sale_price, expiry_date, created_at, updated_at, deleted_at]
Index: []

In [58]:
26139623

26139623

In [59]:
df_amo_temp.query('amo_id==26139623').head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2611,26139623,Успешно реализовано,11450,2023-11-28 13:06:38,2023-12-02 22:29:00,450.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",11450.0,11000.0,11450,Снегоходы,SN1X 199622,NaN,SN1X 191480,NaN,NaN,NaN,NaT,,SN1X,199622,paper,design1,,,0.0,,,,

In [60]:
df_amo_temp.query('корневая_сделка.notna()')

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
31,23459939,Успешно реализовано,0,2023-01-13 11:41:15,2023-01-13 11:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Искусственная волна,VCW1T_2437849,#23459729,NaN,NaN,NaN,Погашен,2023-05-06,,VCW1T,2437849,electronic,design1,sold_used,,0.0,,,,
103,23588587,Успешно реализовано,0,2023-01-31 14:39:58,2023-01-31 14:40:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото Мотокросс,MT2 159461,#23586703,NaN,NaN,NaN,Погашен,2023-03-05,,MT2,159461,paper,design1,sold_used,,0.0,,,,
104,23590237,Успешно реализовано,8000,2023-01-31 18:10:26,2023-02-01 00:35:00,NaN,NaN,NaN,NaN,NaN,8000,Авто Дрифт,VDRC2H_2598560,#23514709,NaN,NaN,NaN,NaN,NaT,,VDRC2H,2598560,electronic,design1,,,0.0,,,,
126,23627015,Успешно реализовано,0,2023-02-06 16:32:58,2023-02-07 18:19:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото Дрифт-трайк,DT60 282777,#23624295,NaN,NaN,NaN,Погашен,NaT,,DT60,282777,paper,design1,sold_used,,0.0,,,,
127,23627023,Успешно реализовано,0,2023-02-06 16:34:25,2023-02-07 18:19:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото Дрифт-трайк,DT60 226058,#23624295,NaN,NaN,NaN,Погашен,NaT,,DT60,226058,paper,design1,sold_used,,0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,25885815,Успешно реализовано,0,2023-11-03 08:49:52,2023-11-03 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Тир. Стрельба из боевого оружия,VGU_4243962,#25885733,NaN,NaN,NaN,NaN,NaT,,VGU,4243962,electronic,design1,,,0.0,,,,
2528,25939051,Успешно реализовано,0,2023-11-09 16:31:32,2023-11-09 16:51:00,NaN,NaN,NaN,NaN,NaN,0,Багги,VBG_4327290,#25938825,NaN,NaN,NaN,NaN,NaT,,VBG,4327290,electronic,design1,,,0.0,,,,
2552,25988317,Успешно реализовано,0,2023-11-14 17:20:26,2023-11-14 17:29:00,NaN,NaN,NaN,NaN,NaN,0,Картинг,VKAT_4319612,#25988183,NaN,NaN,NaN,NaN,NaT,,VKAT,4319612,electronic,design1,,,0.0,,,,
2580,26042895,Успешно реализовано,0,2023-11-19 10:36:50,2023-11-20 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Картинг,KAT 154768,#26042871,NaN,NaN,NaN,NaN,NaT,,KAT,154768,paper,design1,,,0.0,,,,
2612,26139797,Успешно реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X 184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,design1,,,0.0,,,,

In [61]:
pp = df_amo_temp.query('amo_id == 26139797')

In [62]:
pp

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2612,26139797,Успешно реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X 184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,design1,,,0.0,,,,

In [63]:
dd2 = df_amo_temp.copy()

In [64]:
dd2['sale_price'] = dd2['sale_price'].fillna(0)

In [65]:
dd2.shape

(2529, 31)

Функция для определения sale_price для

In [66]:
def insert_sale(row):    
    
    if row['sale_price'] == 0:
        amo_id = row['amo_id']
        pr = row['prefix']
        v = 0
        str1 = f'sale_price != 0 & prefix == "{pr}"'
        try:
            v = dd2.query(str1).iloc[-1]['sale_price']
        except:
            pass
        finally:
            return v

In [67]:
dd2['sale_price'] = dd2.apply(insert_sale,axis=1)

In [68]:
pp = dd2.query('amo_id == 26139797')

In [69]:
pp

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2612,26139797,Успешно реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X 184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,design1,,,5500.0,,,,

In [75]:
dd0 = dd2.query('sale_price == 0').head(10)

In [76]:
dd0

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
310,23732921,Успешно реализовано,0,2023-02-24 00:42:33,2023-02-24 00:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото Дрифт-трайк,VDT62_2660855,23732757,NaN,NaN,NaN,NaN,NaT,,VDT62,2660855,electronic,design1,,,0.0,,,,
427,23908115,Успешно реализовано,0,2023-03-20 21:14:58,2023-03-22 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Аэротруба,АТ6К 023008,#23906061,NaN,NaN,NaN,Погашен,NaT,,АТ6К,023008,paper,design1,sold_used,,0.0,,,,
446,23931579,Успешно реализовано,13050,2023-03-24 11:57:34,2023-03-24 15:47:00,0.0,NaN,Искусственная волна Flow Moscow (Варианты: 1 ч...,12500.0,12500.0,13050,Искусственная волна,cw2 240695,NaN,NaN,NaN,tr2 220869,Погашен,2023-04-05,,cw2,240695,paper,design1,sold_used,,0.0,,,,
568,24088395,Успешно реализовано,12400,2023-04-16 20:02:43,2023-04-16 20:16:00,NaN,NaN,Подарочный сертификатна водные лыжи (Выберите ...,12400.0,12400.0,12400,Водные лыжи,SKIN60 156264,NaN,NaN,NaN,TR212535,NaN,NaT,,SKIN60,156264,paper,design1,,,0.0,,,,
1044,24464305,Успешно реализовано,6500,2023-06-04 16:13:00,2023-06-04 19:31:00,NaN,NaN,Искусственная волна Flow Moscow (Варианты: 1 ч...,6500.0,6500.0,6500,Искусственная волна,cw1 232036,NaN,NaN,NaN,Tr2 153986,NaN,NaT,,cw1,232036,paper,design1,,,0.0,,,,
1196,24576103,Успешно реализовано,1760,2023-06-16 10:06:37,2023-06-16 18:39:00,NaN,NaN,NaN,NaN,NaN,1760,САП-сёрф,su60 222582,NaN,NaN,NaN,NaN,Погашен,NaT,,su60,222582,paper,design1,sold_used,,0.0,,,,
1209,24580195,Успешно реализовано,0,2023-06-16 18:01:39,2023-06-19 17:53:00,NaN,NaN,NaN,NaN,NaN,NaN,Электрофойл,ef30 226935,#24579543,NaN,NaN,NaN,NaN,NaT,,ef30,226935,paper,design1,,,0.0,,,,
1255,24596539,Успешно реализовано,6800,2023-06-19 17:34:39,2023-06-21 23:01:00,NaN,NaN,Подарочный сертификатна вейк за катером (Выбер...,6800.0,6800.0,6800,Вейксёрф и вейк за катером,ES130 164358,NaN,VWS30T_3324255DIS,NaN,NaN,NaN,NaT,,ES130,164358,paper,design1,,,0.0,,,,
1288,24614375,Успешно реализовано,7300,2023-06-21 17:57:54,2023-06-24 10:12:00,0.0,NaN,Подарочный сертификатна вейк за катером (Выбер...,6800.0,6800.0,7300,Вейксёрф и вейк за катером,ES130 112723,NaN,NaN,NaN,TR2 220282,Погашен,2023-08-07,,ES130,112723,paper,design1,sold_used,,0.0,,,,
1480,24722127,Успешно реализовано,8500,2023-07-04 12:46:12,2023-07-09 20:08:00,NaN,NaN,NaN,NaN,NaN,8500,Флайборд / Ховерборд / Ранец,НВ30 149314,NaN,NaN,NaN,NaN,NaN,NaT,,НВ30,149314,paper,design1,,,0.0,,,,

In [78]:
lst_pref0 = dd0['prefix'].unique()

In [80]:
lst_pref0 = set(lst_pref0)

In [81]:
lst_pref0

{'ES130', 'SKIN60', 'VDT62', 'cw1', 'cw2', 'ef30', 'su60', 'АТ6К', 'НВ30'}

In [82]:
lst_pref = df_values['prefix'].unique()

In [83]:
lst_pref = set(lst_pref)

In [87]:
print(lst_pref)

{'FRT', 'YHD', 'KVP2X1', 'CS40', 'KW', 'KAT', 'WS2', 'DT32', 'WP60', 'BF90', 'AB4', 'GC1', 'MWS25', 'PP2', 'BF40', 'MHY30', 'MB', 'WS40', 'TB', 'RTV', 'RB30', 'LL1H', 'MF20', 'AT4', 'RXV', 'FR2,', 'EFL60', 'PP2S', 'FRTK', 'LL3H', 'SG10', 'SH2', 'W&F', 'AT4K', 'EB1x', 'GR2', 'BG', 'SU60', '2MWP24', 'LL1HP', 'RB15', 'KYT2', 'SK', 'SKT4', 'MWS30', 'PP', 'TB2', 'MSKI60', 'SKI60', 'KW2', 'GU', 'МТ5', 'EB2x', 'SKT2', 'DT30', 'HY30', 'DRC2H', 'MSKI40', 'MT10', 'AT30', 'AC30', 'SKV', 'OWI', 'RB20', 'EDС', 'PPP', 'HB60', 'SKI40', 'KVP1X1', 'YAS', 'DT42', 'CW2T', 'PR20', 'WSN2', 'PL15', 'MWSN1', 'SK2V', 'MMF30', 'CW1', 'WS30', 'DRCH', 'PL20', 'LL2HP', 'PR60', 'BGK', 'DT62', 'РB2X', 'SKT6', 'WTF2', 'SN2X', 'MHB60', 'SK2', 'MSU60', 'EFL30', 'OW2', 'MWP15', 'МТ', 'RC', 'AT10', 'MSU24', 'MWS2', 'SKT10', 'WSN40', 'CSR60', 'ABG', 'MWP2H', 'LL2H', 'YEР', 'KYT', 'MB2', 'SG5', 'BF180', 'DTM', 'RB60', 'TB4', 'CS60', 'AB', 'MWSN25', 'SKT1', 'РB', '2WP24', 'DT60', 'WSN1', 'ED3H', 'AT6K', 'MWP60', 'MF60', 'GR1', 'SU24', 'PR30', 'KA6', 'EB4x', 'PP2P', 'AT15', 'KV1X1', 'DT40', 'MHY60', 'FR', 'MB2X', 'PR40', 'AB4G', 'МТТ', 'MWSN2', 'KS2', 'MMF60', 'SUT', 'KAT2', 'RB40', 'SKT', 'MWS40', 'GC2', 'RJ2', 'FRK', 'MF30', 'WP15', 'CS20', 'PL30', 'KA4', 'RT', 'AC2', 'MWSN40', 'MWS1', 'AC60', 'PPS', 'KS', 'WS25', 'WS1', 'WSN25', 'SN1X', 'CWH', 'RX', 'SH', 'AT60', 'GU2', 'WP2H', 'WTF3', 'MEFL30', 'HY60', 'CW2', 'BGKH', 'MMF20', 'RCV', 'CW1T', 'РB2', 'AT6', 'MW&F', 'HB30', 'KA2', 'SHH', 'KAT4', 'KV2X1', 'PPT', 'CS30', 'MEFL60', 'RJ', 'OWG', 'BGH'}

In [86]:
lst_pref0.intersection(lst_pref)

set()