<div style="border:solid Chocolate 2px; padding: 40px">
<b>–ü—Ä–∏–≤–µ—Ç, –î–º–∏—Ç—Ä–∏–π!üëã</b>
    
–ú–µ–Ω—è –∑–æ–≤—É—Ç –ó—É–µ–≤–∞ –Æ–ª–∏—è, –º–æ–∂–Ω–æ –ø—Ä–æ—Å—Ç–æ –Æ–ª—è üòè –Ø –±—É–¥—É —Ç–∏–º–ª–∏–ª–æ–º —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—Ä–∞—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã", –Ω–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, —Å–∫–∞–∂–∏ –æ–± —ç—Ç–æ–º!
    
–ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å - –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å—Ç–∞—Ç—å –∫–æ–º–ø–µ—Ç–µ–Ω—Ç–Ω—ã–º Data Scientist'–æ–º: –≤–º–µ—Å—Ç–µ –ø—Ä–µ–æ–¥–æ–ª–µ—Ç—å —Ç—Ä—É–¥–Ω–æ—Å—Ç–∏ –∏ –µ—â–µ –±–æ–ª—å—à–µ —Ä–∞–∑–≤–∏—Ç—å —Ç–≤–æ–∏ —Å–∏–ª—å–Ω—ã–µ –Ω–∞–≤—ã–∫–∏ üí™ –í —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç–µ —è –æ—Å—Ç–∞–≤–∏–ª–∞ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –∫–æ—Ç–æ—Ä—ã–µ –¥–æ–ª–∂–Ω—ã –≤ —ç—Ç–æ–º –ø–æ–º–æ—á—å. –î–ª—è —Ç–≤–æ–µ–≥–æ —É–¥–æ–±—Å—Ç–≤–∞ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Ä–∞—Å–∫—Ä–∞—à–µ–Ω—ã —Ä–∞–∑–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏: 
<br/>
<div class="alert alert-success">
–†–µ—à–µ–Ω–∏–µ –ø–æ–ª–Ω–æ—Å—Ç—å—é –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ, –∏–ª–∏ —è –ø–æ—Å—á–∏—Ç–∞–ª–∞ –Ω—É–∂–Ω—ã–º —Ç–µ–±—è –∑–∞ —á—Ç–æ-—Ç–æ –ø–æ—Ö–≤–∞–ª–∏—Ç—å :) –ù–∞ —Ç–∞–∫–∏–µ —Ä–µ—à–µ–Ω–∏—è –º–æ–∂–Ω–æ –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
</div>

<div class="alert alert-warning">
–†–µ—à–µ–Ω–∏–µ —Å—Ç–∞–Ω–µ—Ç –µ—â–µ –ª—É—á—à–µ, –µ—Å–ª–∏ –≤–Ω–µ—Å—Ç–∏ –Ω–µ–±–æ–ª—å—à–∏–µ –∫–æ—Ä—Ä–µ–∫—Ç–∏–≤—ã. –¢—ã –º–æ–∂–µ—à—å —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏–ª–∏ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–µ–∫—Ç —Å–µ–π—á–∞—Å (–Ω–æ —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).
</div>
<div class="alert alert-block alert-danger">
–†–µ—à–µ–Ω–∏–µ —Ç—Ä–µ–±—É–µ—Ç —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ–π –ø–µ—Ä–µ—Ä–∞–±–æ—Ç–∫–∏. –ù–∞–ø–æ–º–Ω—é, —á—Ç–æ –ø—Ä–æ–µ–∫—Ç –Ω–µ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø—Ä–∏–Ω—è—Ç —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞, –µ—Å–ª–∏ —Ä–µ–≤—å—é —Å–æ–¥–µ—Ä–∂–∏—Ç –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, —Ä–µ–∫–æ–º–µ–Ω–¥—É—é—â–∏–µ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å —à–∞–≥–∏.
</div>
<br/>
    
–ß—Ç–æ–±—ã –Ω–∞—à–∞ —Å —Ç–æ–±–æ–π —Ä–∞–±–æ—Ç–∞ –±—ã–ª–∞ –µ—â–µ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–µ–µ, —Ç—ã —Ç–æ—á–Ω–æ —Ç–∞–∫ –∂–µ –º–æ–∂–µ—à—å –æ—Å—Ç–∞–≤–ª—è—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –∑–∞–¥–∞–≤–∞—Ç—å –º–Ω–µ –≤–æ–ø—Ä–æ—Å—ã. –î–ª—è —Ç–∞–∫–∏—Ö —Å–ª—É—á–∞–µ–≤, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤—ã–±–µ—Ä–∏ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–µ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, –∫–æ—Ç–æ—Ä–æ–µ –±—É–¥–µ—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–µ–≥–æ, —á—Ç–æ–±—ã –Ω–µ —Å–æ–∑–¥–∞–≤–∞–ª–∞—Å—å –ø—É—Ç–∞–Ω–∏—Ü–∞. –ü–æ —ç—Ç–æ–π –∂–µ –ø—Ä–∏—á–∏–Ω–µ –ø–æ–ø—Ä–æ—à—É —Ç–µ–±—è –Ω–µ —É–¥–∞–ª—è—Ç—å –∏ –Ω–µ –∏–∑–º–µ–Ω—è—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. **–¢–∞–∫–∂–µ –æ–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤—Å–µ —Ç—Ä–∏ —á–∞—Å—Ç–∏ —Ä–∞–±–æ—Ç—ã (–ø–ª–∞–Ω, –∫–æ–¥, –æ—Ç—á–µ—Ç) –¥–æ–ª–∂–Ω—ã –∏–¥—Ç–∏ –ø–æ–¥—Ä—è–¥ –≤ –æ–¥–Ω–æ–º –±–ª–æ–∫–Ω–æ—Ç–µ. –ü—Ä–∏—Å—Ç—É–ø–∞—è –∫ —Å–ª–µ–¥—É—é—â–µ–π —á–∞—Å—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –∏ –Ω–µ –∏–∑–º–µ–Ω—è–π –ø—Ä–µ–¥—ã–¥—É—â–∏–µ.** –í—Å–µ —ç—Ç–æ –ø–æ–∑–≤–æ–ª–∏—Ç –ª—É—á—à–µ –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞—Ç—å—Å—è –≤ –Ω–∞—à–µ–º —Å —Ç–æ–±–æ–π –¥–∏–∞–ª–æ–≥–µ, –∞ –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É (–≤ —Å–ª—É—á–∞–µ –µ–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏) –≤—ã–ø–æ–ª–Ω—è—Ç—å –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–µ–µ üöÄ

–ù–µ —Å–ø–µ—à–∏ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞—Ç—å—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ —É–¥–∞–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞. –í–º–µ—Å—Ç–µ –º—ã –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Ä–∞–∑–±–µ—Ä–µ–º—Å—è —Å–æ –≤—Å–µ–º–∏ —Ç—Ä—É–¥–Ω–æ—Å—Ç—è–º–∏! ü§ì

# –ü—Ä–æ–µ–∫—Ç "–ö—Ç–æ —Å–ª–µ–¥—É—â–∏–π?"

## –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

–û–ø–µ—Ä–∞—Ç–æ—Ä —Å–≤—è–∑–∏ ¬´–ù–∏–µ–¥–∏–Ω–æ–≥–æ—Ä–∞–∑—Ä—ã–≤–∞.–∫–æ–º¬ª —Ö–æ—á–µ—Ç –Ω–∞—É—á–∏—Ç—å—Å—è –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞—Ç—å –æ—Ç—Ç–æ–∫ –∫–ª–∏–µ–Ω—Ç–æ–≤. –ï—Å–ª–∏ –≤—ã—è—Å–Ω–∏—Ç—Å—è, —á—Ç–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ø–ª–∞–Ω–∏—Ä—É–µ—Ç —É–π—Ç–∏, –µ–º—É –±—É–¥—É—Ç –ø—Ä–µ–¥–ª–æ–∂–µ–Ω—ã –ø—Ä–æ–º–æ–∫–æ–¥—ã –∏ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ —É—Å–ª–æ–≤–∏—è. –ö–æ–º–∞–Ω–¥–∞ –æ–ø–µ—Ä–∞—Ç–æ—Ä–∞ —Å–æ–±—Ä–∞–ª–∞ –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–ª–∏–µ–Ω—Ç–∞—Ö, –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ–± –∏—Ö —Ç–∞—Ä–∏—Ñ–∞—Ö –∏ –¥–æ–≥–æ–≤–æ—Ä–∞—Ö.

### –û–ø–∏—Å–∞–Ω–∏–µ —É—Å–ª—É–≥

–û–ø–µ—Ä–∞—Ç–æ—Ä –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ—Ç –¥–≤–∞ –æ—Å–Ω–æ–≤–Ω—ã—Ö —Ç–∏–ø–∞ —É—Å–ª—É–≥: 

1. –°—Ç–∞—Ü–∏–æ–Ω–∞—Ä–Ω—É—é —Ç–µ–ª–µ—Ñ–æ–Ω–Ω—É—é —Å–≤—è–∑—å. –í–æ–∑–º–æ–∂–Ω–æ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —Ç–µ–ª–µ—Ñ–æ–Ω–Ω–æ–≥–æ –∞–ø–ø–∞—Ä–∞—Ç–∞ –∫ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –ª–∏–Ω–∏—è–º –æ–¥–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–æ.
2. –ò–Ω—Ç–µ—Ä–Ω–µ—Ç. –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –º–æ–∂–µ—Ç –±—ã—Ç—å –¥–≤—É—Ö —Ç–∏–ø–æ–≤: —á–µ—Ä–µ–∑ —Ç–µ–ª–µ—Ñ–æ–Ω–Ω—É—é –ª–∏–Ω–∏—é (DSL*,* –æ—Ç –∞–Ω–≥–ª. *digital subscriber line*, ¬´—Ü–∏—Ñ—Ä–æ–≤–∞—è –∞–±–æ–Ω–µ–Ω—Ç—Å–∫–∞—è –ª–∏–Ω–∏—è¬ª) –∏–ª–∏ –æ–ø—Ç–æ–≤–æ–ª–æ–∫–æ–Ω–Ω—ã–π –∫–∞–±–µ–ª—å (*Fiber optic*).  

–¢–∞–∫–∂–µ –¥–æ—Å—Ç—É–ø–Ω—ã —Ç–∞–∫–∏–µ —É—Å–ª—É–≥–∏:

- –ò–Ω—Ç–µ—Ä–Ω–µ—Ç-–±–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç—å: –∞–Ω—Ç–∏–≤–∏—Ä—É—Å (*DeviceProtection*) –∏ –±–ª–æ–∫–∏—Ä–æ–≤–∫–∞ –Ω–µ–±–µ–∑–æ–ø–∞—Å–Ω—ã—Ö —Å–∞–π—Ç–æ–≤ (*OnlineSecurity*);
- –í—ã–¥–µ–ª–µ–Ω–Ω–∞—è –ª–∏–Ω–∏—è —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–π –ø–æ–¥–¥–µ—Ä–∂–∫–∏ (*TechSupport*);
- –û–±–ª–∞—á–Ω–æ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤ –¥–ª—è —Ä–µ–∑–µ—Ä–≤–Ω–æ–≥–æ –∫–æ–ø–∏—Ä–æ–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö (*OnlineBackup*);
- –°—Ç—Ä–∏–º–∏–Ω–≥–æ–≤–æ–µ —Ç–µ–ª–µ–≤–∏–¥–µ–Ω–∏–µ (*StreamingTV*) –∏ –∫–∞—Ç–∞–ª–æ–≥ —Ñ–∏–ª—å–º–æ–≤ (*StreamingMovies*).

–ó–∞ —É—Å–ª—É–≥–∏ –∫–ª–∏–µ–Ω—Ç—ã –º–æ–≥—É—Ç –ø–ª–∞—Ç–∏—Ç—å –∫–∞–∂–¥—ã–π –º–µ—Å—è—Ü –∏–ª–∏ –∑–∞–∫–ª—é—á–∏—Ç—å –¥–æ–≥–æ–≤–æ—Ä –Ω–∞ 1‚Äì2 –≥–æ–¥–∞. –î–æ—Å—Ç—É–ø–Ω—ã —Ä–∞–∑–ª–∏—á–Ω—ã–µ —Å–ø–æ—Å–æ–±—ã —Ä–∞—Å—á—ë—Ç–∞ –∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –ø–æ–ª—É—á–µ–Ω–∏—è —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–≥–æ —á–µ–∫–∞.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–î–∞–Ω–Ω—ã–µ —Å–æ—Å—Ç–æ—è—Ç –∏–∑ —Ñ–∞–π–ª–æ–≤, –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –∏–∑ —Ä–∞–∑–Ω—ã—Ö –∏—Å—Ç–æ—á–Ω–∏–∫–æ–≤:

- `contract_new.csv` ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–æ–≥–æ–≤–æ—Ä–µ;
- `personal_new.csv` ‚Äî –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç–∞;
- `internet_new.csv` ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-—É—Å–ª—É–≥–∞—Ö;
- `phone_new.csv` ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± —É—Å–ª—É–≥–∞—Ö —Ç–µ–ª–µ—Ñ–æ–Ω–∏–∏.

–í–æ –≤—Å–µ—Ö —Ñ–∞–π–ª–∞—Ö —Å—Ç–æ–ª–±–µ—Ü `customerID` —Å–æ–¥–µ—Ä–∂–∏—Ç –∫–æ–¥ –∫–ª–∏–µ–Ω—Ç–∞.

–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–æ–≥–æ–≤–æ—Ä–∞—Ö –∞–∫—Ç—É–∞–ª—å–Ω–∞ –Ω–∞ 1 —Ñ–µ–≤—Ä–∞–ª—è 2020.

<div class="alert alert-success">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–ø–ª–∞–Ω) <a class="tocSkip"> </h3> 
    
<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ! üëç:</b> –û—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ, —á—Ç–æ –æ—Å—Ç–∞–≤–ª—è–µ—à—å –≤ –Ω–∞—á–∞–ª–µ –ø—Ä–æ–µ–∫—Ç–∞ –µ–≥–æ –æ–ø–∏—Å–∞–Ω–∏–µ! –õ—é–±–æ–π, –∫—Ç–æ –∑–∞—Ö–æ—á–µ—Ç –≤–∑–≥–ª—è–Ω—É—Ç—å –Ω–∞ —Ä–∞–±–æ—Ç—É, —Å–º–æ–∂–µ—Ç —Å—Ä–∞–∑—É –ø–æ–≥—Ä—É–∑–∏—Ç—å—Å—è –≤ —Å—É—Ç—å –∑–∞–¥–∞—á–∏ :)

### –¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞

–°–æ–∑–¥–∞—Ç—å –º–æ–¥–µ–ª—å, –ø–æ–∑–≤–æ–ª—è—é—â—É—é –Ω–∞ –æ—Å–Ω–æ–≤–µ –¥–∞–Ω–Ω—ã—Ö, –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –ø—Ä–æ–≤–∞–π–¥–µ—Ä–æ–º –≤—ã—è–≤–ª—è—Ç—å –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –º–æ–≥—É—Ç —Ä–∞—Å—Ç–æ—Ä–≥–Ω—É—Ç—å –¥–æ–≥–æ–≤–æ—Ä –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏—è.

In [75]:
pip install skimpy -q

Note: you may need to restart the kernel to use updated packages.

<div class="alert alert-warning">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–ø–ª–∞–Ω)<a class="tocSkip"> </h3>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏üí°:</b> –ß—Ç–æ–±—ã –ø—Ä–∏ —É—Å—Ç–∞–Ω–æ–≤–∫–µ –Ω–µ –≤—ã–ª–µ–∑–∞–ª–∞ —ç—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è, –≤ –∫–æ–Ω—Ü–µ —Å—Ç—Ä–æ–∫–∏ –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–ª—è—Ç—å `-q`

In [76]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, timedelta,date
from scipy import stats as st
from skimpy import clean_columns

## –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

–î–∞–Ω–Ω—ã–µ –±—É–¥—É—Ç –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã:<br>

**dc** - contract_new.csv ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–æ–≥–æ–≤–æ—Ä–µ;<br>
**dp** - personal_new.csv ‚Äî –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç–∞;<br>
**di** - internet_new.csv ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-—É—Å–ª—É–≥–∞—Ö;<br>
**dph** - phone_new.csv ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± —É—Å–ª—É–≥–∞—Ö —Ç–µ–ª–µ—Ñ–æ–Ω–∏–∏.

In [77]:
try:    
    dc = pd.read_csv('/datasets/contract_new.csv')
    dp = pd.read_csv('/datasets/personal_new.csv')
    di =  pd.read_csv('/datasets/internet_new.csv')
    dph =  pd.read_csv('/datasets/phone_new.csv')
except:
    dc = pd.read_csv('https://code.s3.yandex.net/datasets/contract_new.csv')
    dp = pd.read_csv('https://code.s3.yandex.net/datasets/personal_new.csv')
    di =  pd.read_csv('https://code.s3.yandex.net/datasets/internet_new.csv')
    dph =  pd.read_csv('https://code.s3.yandex.net/datasets/phone_new.csv')

#### –°–±–æ—Ä –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞—Ö

In [78]:
dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [79]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [80]:
di.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [81]:
dph.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [82]:
#example = "ThisIsAGoodExample"
#print (re.sub( '(?<!^)(?=[A-Z])', '_', example ).lower())

In [83]:
#dc = clean_columns(dc)

In [84]:
dc.head()

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,31.04
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,2071.84
2,3668-QPYBK,2019-10-01,No,Month-to-month,Yes,Mailed check,53.85,226.17
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1960.6
4,9237-HQITU,2019-09-01,No,Month-to-month,Yes,Electronic check,70.70,353.5

In [85]:
dp.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [86]:
di.head()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No

In [87]:
dph.head()

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes

#### –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã

–í–æ –≤—Å–µ—Ö –ø–æ–ª—è—Ö, –∫—Ä–æ–º–µ **customerID** —Å–≤–µ–¥–µ–Ω–∏—è –º–æ–≥—É—Ç —Å–æ–≤–ø–∞–¥–∞—Ç—å, –ø–æ—ç—Ç–æ–º—É –ø—Ä–æ–≤–µ—Ä–∫–µ –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã –ø–æ–¥–≤–µ—Ä–≥–∞–µ—Ç—Å—è —Ç–æ–ª—å–∫–æ **customerID**

In [88]:
dc.duplicated(['customerID']).sum()

0

In [89]:
dp.duplicated(['customerID']).sum()

0

In [90]:
di.duplicated(['customerID']).sum()

0

In [91]:
dph.duplicated(['customerID']).sum()

0

–ü—Ä–æ–≤–µ—Ä–∫–∞ –ø–æ–ª—è TotalCharges

In [92]:
dc[dc['TotalCharges'].str.contains(" ")]

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
488,4472-LVYGI,2020-02-01,No,Two year,Yes,Bank transfer (automatic),52.55,
753,3115-CZMZD,2020-02-01,No,Two year,No,Mailed check,20.25,
936,5709-LVOEQ,2020-02-01,No,Two year,No,Mailed check,80.85,
1082,4367-NUYAO,2020-02-01,No,Two year,No,Mailed check,25.75,
1340,1371-DWPAZ,2020-02-01,No,Two year,No,Credit card (automatic),56.05,
3331,7644-OMVMY,2020-02-01,No,Two year,No,Mailed check,19.85,
3826,3213-VVOLG,2020-02-01,No,Two year,No,Mailed check,25.35,
4380,2520-SGTTA,2020-02-01,No,Two year,No,Mailed check,20.00,
5218,2923-ARZLG,2020-02-01,No,One year,Yes,Mailed check,19.70,
6670,4075-WKNIU,2020-02-01,No,Two year,No,Mailed check,73.35,
6754,2775-SEFEE,2020-02-01,No,Two year,Yes,Bank transfer (automatic),61.90,

–°–≤–µ–¥–µ–Ω–∏—è –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –≤ —Å–≤—è–∑–∏ —Å –æ—Ç—Å—É—Å—Ç–≤–∏–µ–º –æ–ø–ª–∞—Ç—ã –ø–æ –¥–æ–≥–æ–≤–æ—Ä—É, –∫–æ—Ç–æ—Ä—ã–π –±—ã–ª –∑–∞–∫–ª—é—á–µ–Ω –≤ –¥–µ–Ω—å –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –∑–∞–∫–∞–∑—á–∏–∫–æ–º (01 —Ñ–µ–≤—Ä–∞–ª—è 2020 –≥–æ–¥–∞).<br>

<del>–≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å –≤ —Å–≤—è–∑–∏ —Å –∏—Ö –Ω–∏—á—Ç–æ–∂–Ω—ã–º –≤–ª–∏—è–Ω–∏–µ–º –Ω–∞ –æ–±—â—É—é –∫–∞—Ä—Ç–∏–Ω—É</del>

<div class="alert alert-info">
<b>–î–æ—Ä–∞–±–æ—Ç–∫–∞:</b>
<br>
–û—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ <b>MonthlyCharges</b> –∑–∞–ø–æ–ª–Ω–∏–º –ø–æ–º–µ—Å—è—á–Ω–æ–π –æ–ø–ª–∞—Ç–æ–π
</div>

<div class="alert alert-warning">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–ø–ª–∞–Ω) <a class="tocSkip"> </h3>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏üí°:</b> –£–¥–∞–ª–µ–Ω–∏–µ - —Ç–æ–∂–µ –ø—Ä–∏–µ–º–ª–µ–º—ã–π –≤–∞—Ä–∏–∞–Ω—Ç, –Ω–æ —è –±–æ–ª—å—à–µ –≤—Å–µ-—Ç–∞–∫–∏ —Å–∫–ª–æ–Ω—è—é—Å—å –∫ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—é –µ–∂–µ–º–µ—Å—è—á–Ω–æ–π –æ–ø–ª–∞—Ç–æ–π. –ü–æ—á–µ–º—É –Ω–µ —Å–æ–≤—Å–µ–º –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞—é —É–¥–∞–ª–µ–Ω–∏–µ: –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ –≤–µ—Ä–æ—è—Ç–Ω–µ–µ –≤—Å–µ–≥–æ —á–µ—Ä–µ–∑ –Ω–∞—à—É –º–æ–¥–µ–ª—å —Ä–µ–≥—É–ª—è—Ä–Ω–æ –±—É–¥—É—Ç –ø—Ä–æ–ø—É—Å–∫–∞—Ç—å—Å—è –∞–±—Å–æ–ª—é—Ç–Ω–æ –≤—Å–µ –¥–µ–π—Å—Ç–≤—É—é—â–∏–µ –∫–ª–∏–µ–Ω—Ç—ã, –µ—Å–ª–∏ –º—ã —É–¥–∞–ª–∏–º –∏–∑ –≤—ã–±–æ—Ä–∫–∏ –≤—Å–µ—Ö –Ω–æ–≤—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏ –ø—Ä–∏ —ç—Ç–æ–º –≤—ã–±–µ—Ä–µ–º –º–æ–¥–µ–ª–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –¥–µ—Ä–µ–≤—å–µ–≤, –º–æ–∂–µ—Ç —Å–ª—É—á–∏—Ç—å—Å—è —Ç–∞–∫, —á—Ç–æ –∏–∑-–∑–∞ –ø–ª–æ—Ö–æ–π –º–∞—Å—à—Ç–∞–±–∏—Ä—É–µ–º–æ—Å—Ç–∏ –¥–µ—Ä–µ–≤—å–µ–≤ –Ω–∞—à–∞ –º–æ–¥–µ–ª—å –Ω–∞ –Ω–æ–≤—ã—Ö –∫–ª–∏–µ–Ω—Ç–∞—Ö –±—É–¥–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–µ —Å–æ–≤—Å–µ–º —Ç–∞–∫, –∫–∞–∫ –º—ã —Ç–æ–≥–æ –æ–∂–∏–¥–∞–µ–º.

<div class="alert alert-info">
<b>–î–æ—Ä–∞–±–æ—Ç–∫–∞:</b>
<br>

–ê–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö

In [93]:
for n in dc.columns:
    print(dc[n].unique())

['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
['2020-01-01' '2017-04-01' '2019-10-01' '2016-05-01' '2019-09-01'
 '2019-03-01' '2018-04-01' '2019-04-01' '2017-07-01' '2014-12-01'
 '2019-01-01' '2018-10-01' '2015-04-01' '2015-09-01' '2018-01-01'
 '2014-05-01' '2015-10-01' '2014-03-01' '2018-05-01' '2019-11-01'
 '2019-02-01' '2016-01-01' '2017-08-01' '2015-12-01' '2014-02-01'
 '2018-06-01' '2019-12-01' '2017-11-01' '2019-06-01' '2016-04-01'
 '2017-02-01' '2018-12-01' '2014-04-01' '2018-09-01' '2014-11-01'
 '2016-07-01' '2015-02-01' '2018-07-01' '2014-08-01' '2016-03-01'
 '2018-08-01' '2014-10-01' '2015-06-01' '2016-08-01' '2019-05-01'
 '2017-03-01' '2016-02-01' '2017-09-01' '2014-09-01' '2017-12-01'
 '2016-12-01' '2017-06-01' '2015-05-01' '2016-10-01' '2016-09-01'
 '2019-08-01' '2019-07-01' '2017-05-01' '2017-10-01' '2014-07-01'
 '2018-03-01' '2015-01-01' '2018-11-01' '2015-03-01' '2018-02-01'
 '2016-06-01' '2015-08-01' '2015-11-01' '2014-06-01' '2017-01-01'
 '2015-07-01' '2020-02-01' '2016-11-01' '2013-11-01' '2014-01-01'
 '2013-10-01' '2013-12-01']
['No' '2017-05-01' '2016-03-01' '2018-09-01' '2018-11-01' '2018-12-01'
 '2019-08-01' '2018-07-01' '2017-09-01' '2015-09-01' '2016-07-01'
 '2016-06-01' '2018-03-01' '2019-02-01' '2018-06-01' '2019-06-01'
 '2020-01-01' '2019-11-01' '2016-09-01' '2015-06-01' '2016-12-01'
 '2019-05-01' '2019-04-01' '2017-06-01' '2017-08-01' '2018-04-01'
 '2018-08-01' '2018-02-01' '2019-07-01' '2015-12-01' '2014-06-01'
 '2018-10-01' '2019-01-01' '2017-07-01' '2017-12-01' '2018-05-01'
 '2015-11-01' '2019-10-01' '2019-03-01' '2016-02-01' '2016-10-01'
 '2018-01-01' '2017-11-01' '2015-10-01' '2019-12-01' '2015-07-01'
 '2017-04-01' '2015-02-01' '2017-03-01' '2016-05-01' '2016-11-01'
 '2015-08-01' '2019-09-01' '2017-10-01' '2017-02-01' '2016-08-01'
 '2016-04-01' '2015-05-01' '2014-09-01' '2014-10-01' '2017-01-01'
 '2015-03-01' '2015-01-01' '2016-01-01' '2015-04-01' '2014-12-01'
 '2014-11-01']
['Month-to-month' 'One year' 'Two year']
['Yes' 'No']
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
['31.04' '2071.84' '226.17' ... '325.6' '520.8' '7251.82']

In [94]:
for n in dp.columns:
    print(dp[n].unique())

['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
['Female' 'Male']
[0 1]
['Yes' 'No']
['No' 'Yes']

In [95]:
for n in di.columns:
    print(di[n].unique())

['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
['DSL' 'Fiber optic']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']

In [96]:
for n in dph.columns:
    print(dph[n].unique())

['5575-GNVDE' '3668-QPYBK' '9237-HQITU' ... '2234-XADUH' '8361-LTMKD'
 '3186-AJIEK']
['No' 'Yes']

 –ù–µ—Ç–∏–ø–∏—á–Ω—ã—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö –Ω–µ –≤—ã—è–≤–ª–µ–Ω–æ

–ê–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —á–∏—Å–ª–æ–≤—Ö –¥–∞–Ω–Ω—ã—Ö –±—É–¥—É—Ç —Ä–∞—Å—Å–º–æ—Ç—Ä–µ–Ω—ã –ø–æ–∑–∂–µ –ø–æ—Å–ª–µ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏

### –í—ã–≤–æ–¥ (–æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö)

–ò—Å—Ö–æ–¥–Ω—ã–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –Ω–µ –∏–º–µ—é—Ç.<br>
–ê–Ω–æ–º–∞–ª—å–Ω—ã—Ö –∏ –Ω–µ—Ç–∏–ø–∏—á–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ –≤—ã—è–≤–ª–µ–Ω–æ<br>
–¢–∞–±–ª–∏—Ü—ã dc –∏ dp –∏–º–µ—é—Ç –æ–¥–∏–Ω–∞–∫–æ–≤–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π, –ø–æ—ç—Ç–æ–º—É, –≤–æ–∑–º–æ–∂–Ω–æ, –≤ –Ω–∏—Ö —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è —Å–≤–µ–¥–µ–Ω–∏—è –æ–± –æ–¥–Ω–∏—Ö –∏ —Ç–µ—Ö –∂–µ –∞–±–æ–Ω–µ–Ω—Ç–∞—Ö. –¢–æ—á–Ω–µ–µ –º–æ–∂–Ω–æ –±—É–¥–µ—Ç —Å–∫–∞–∑–∞—Ç—å –ø—Ä–∏ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü.<br>
–í —Ç–∞–±–ª–∏—Ü–µ dc –ø–æ–ª–µ **BeginDate** —Ç—Ä–µ–±—É–µ—Ç—Å—è –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —Ç–∏–ø—É **data**. **TotalCharges** –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ **float**, –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ —É–¥–∞–ª–∏–≤ —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –ø—Ä–æ–±–µ–ª—ã (–¥–æ–≥–æ–≤–æ—Ä —Ç–æ–ª—å–∫–æ —á—Ç–æ –∑–∞–∫–ª—é—á–µ–Ω –∏ –Ω–µ –æ–ø–ª–∞—á–µ–Ω)<br>
–ü–æ –≤—Å–µ–π –≤–∏–¥–∏–º–æ—Å—Ç–∏, –¥–∞–Ω–Ω—ã–µ —ç–∫—Å–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏—Å—å –Ω–µ–ø—Ä–∞–≤–∏–ª—å–Ω–æ –∏–∑ –∫–∞–∫–æ–π-–ª–∏–±–æ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö.<br>
–ù–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É —Å –Ω–∏–∂–Ω–∏–º –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏–µ–º.<br>


–í –∫–∞—á–µ—Å—Ç–≤–µ —Ü–µ–ª–µ–≤–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –±—É–¥–µ—Ç —Å–æ–∑–¥–∞—Ç—å –æ—Ç–¥–µ–ª—å–Ω—ã–π –±–∏–Ω–∞—Ä–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü –Ω–∞ –æ—Å–Ω–æ–≤–µ **EndDate**, –≤ –∫–æ—Ç–æ—Ä–æ–º 1 - –Ω–∞–ª–∏—á–∏–µ –¥–æ–≥–æ–≤–æ—Ä–∞ –æ —Ä–∞—Å—Ç–æ—Ä–∂–µ–Ω–∏–∏, 0 - –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ.<br>
–ù–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–æ–∑–¥–∞—Ç—å –ø–æ–ª–µ c –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–Ω–µ–π, –ø—Ä–æ—à–µ–¥—à–∏—Ö —Å –º–æ–º–µ–Ω—Ç–∞ –∑–∞–∫–ª—é—á–µ–Ω–∏—è –¥–æ–≥–æ–≤–æ—Ä–∞, –¥–æ –¥–∞—Ç—ã 1 —Ñ–µ–≤—Ä–∞–ª—è 2020. –ù–∞ –µ–≥–æ –æ—Å–Ω–æ–≤–µ, –≤ —á–∞—Å—Ç–Ω–æ—Å—Ç–∏ –º–æ–∂–Ω–æ –±—É–¥–µ—Ç –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ —Å—Ä–æ–∫–∏ –¥–µ–π—Å—Ç–≤–∏—è –¥–æ–≥–æ–≤–æ—Ä–æ–≤<br>

–î–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—Å–ª–µ–¥—É—â–µ–≥–æ –º–æ–¥–µ–ª–∏—Ä–æ–≤–∞–Ω–∏—è –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –±—É–¥–µ—Ç –∏—Å—Ö–æ–¥–Ω—ã–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã –æ–±—ä–µ–¥–∏–Ω—è—Ç—å –ø–æ **customerID**<br>

–ü–æ—Å–ª–µ —Å–ª–∏—è–Ω–∏—è –∏ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –±–∏–Ω–∞—Ä–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è Yes –∏ No –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ 0, 1

<div class="alert alert-warning">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–ø–ª–∞–Ω)<a class="tocSkip"> </h3>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏üí°:</b> –ü—Ä–∏ –ø–µ—Ä–≤–∏—á–Ω–æ–º –∞–Ω–∞–ª–∏–∑–µ —Ç–∞–∫–∂–µ –≤–∞–∂–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–∞–ª–∏—á–∏–µ –∫–∞–∫–∏—Ö-—Ç–æ –æ—à–∏–±–æ–∫: —è–≤–Ω–æ –≤—ã–±—ã–≤–∞—é—â–∏—Ö—Å—è –∑–Ω–∞—á–µ–Ω–∏–π –≤ —á–∏—Å–ª–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö –∏ –Ω–µ—Ç–∏–ø–∏—á–Ω—ã—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö.

### –ü–ª–∞–Ω —Ä–∞–±–æ—Ç—ã

1. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –∫–æ–Ω—Å—Ç—Ä—É–∏—Ä–æ–≤–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ <br>

–í—ã–ø–æ–ª–Ω–∏—Ç—å –æ–±—Ä–∞–±–æ—Ç–∫—É –∏–º–µ–Ω —Å—Ç–æ–ª–±—Ü–æ–≤, —Ä–∞–±–æ—Ç–∞ —Å —Ç–∏–ø–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö, —É–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–ª–∏—è–Ω–∏–µ —Ç–∞–±–ª–∏—Ü (merge), –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–≤—à–∏—Ö—Å—è –ø—Ä–æ–ø—É—Å–∫–æ–≤

2. –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö (EDA)<br>

–í—ã—è–≤–ª–µ–Ω–∏–µ –∑–∞–∫–æ–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–µ–π —Ñ—É–Ω–∫—Ü–∏–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è —Å–∏—Å—Ç–µ–º—ã –¥–∞–Ω–Ω—ã—Ö, –∫–æ—Ç–æ—Ä—ã–µ, –≤–æ–∑–º–æ–∂–Ω–æ, –ø–æ–∑–≤–æ–ª—è—Ç –≤—ã—è–≤–∏—Ç—å —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –æ–∫–∞–∑—ã–≤–∞—é—â–∏—Ö –≤–ª–∏—è–Ω–∏–µ –Ω–∞ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏ (–ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ "–ø–æ—Ä—Ç—Ä–µ—Ç–∞" –∫–ª–∏–µ–Ω—Ç–∞, –±–∞–ª–∞–Ω—Å –∫–ª–∞—Å—Å–æ–≤, —Ä–∞–∑–≤–∏—Ç–∏–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –≤ –¥–∏–Ω–∞–º–∏–∫–µ, –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–π)

3. –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –º—É–ª—å—Ç–∏–∫–æ–ª–ª–∏–Ω–µ–∞—Ä–Ω–æ—Å—Ç–∏<br>

–í—ã—è–≤–ª–µ–Ω–∏–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –º–µ–∂–¥—É –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏, –∫–æ–ª–ª–∏–Ω–µ–∞—Ä–Ω–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —Å —Ü–µ–ª–µ–≤—ã–º –ø—Ä–∏–∑–Ω–∞–∫–æ–º<br>
–ù–∞ –æ—Å–Ω–æ–≤–µ —ç—Ç–æ–≥–æ –æ—Ç–±–∏—Ä–∞–µ–º –ø—Ä–∏–∑–Ω–∞–∫–∏ –¥–ª—è –º–æ–¥–µ–ª–∏ (future selection), –º–æ–∂–Ω–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å –Ω–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å F-test

4. –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –≤—ã–±–æ—Ä–∫–∏<br>

–¢–∞–∫ –∫–∞–∫ –±—É–¥–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è GridSearch, —Ç–æ –¥–∞–Ω–Ω—ã–µ –±—É–¥—É—Ç —Ä–∞–∑–±–∏—Ç—ã –Ω–∞ **—Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—É—é** –∏ **—Ç–µ—Å—Ç–æ–≤—É—é** –≤—ã–±–æ—Ä–∫–∏ –≤ –æ—Ç–Ω–æ—à–µ–Ω–∏–∏ 3:1<br>
–ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (OHE)<br>
–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

5. –û–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π —Å –ø–æ–¥–±–æ—Ä–æ–º –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ 

LogisticRegression<br>
RandomForestClassifier<br>

–¥–ª—è –ø–æ–¥–±–æ—Ä–∞ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å GridSearchCV

6. –í—ã–±–æ—Ä –ª—É—á—à–µ–π –º–æ–¥–µ–ª–∏ –ø–æ –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–æ–Ω–Ω–æ–π –≤—ã–±–æ—Ä–∫–µ

–í –∫–∞—á–µ—Å—Ç–≤–µ –º–µ—Ç—Ä–∏–∫–∏ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è ROC-AUC

7. –¢–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –º–æ–¥–µ–ª–∏<br>

–í—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –º–æ–¥–µ–ª–∏ –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ<br>
–ø—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–∞ –∞–¥–µ–∫–≤–∞—Ç–Ω–æ—Å—Ç—å (–º–æ–∂–Ω–æ –ø–æ ROC - –∫—Ä–∏–≤–æ–π)

8. –í—ã—è–≤–ª–µ–Ω–∏–µ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (future importance)

–î–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –æ—Ç—Å–ª–µ–∂–∏–≤–∞–Ω–∏—è –∂–∏–∑–Ω–µ–Ω–Ω–æ–≥–æ —Ü–∏–∫–ª–∞ –º–æ–¥–µ–ª–∏<br>
–î–ª—è –≤–Ω–µ—Å–µ–Ω–∏—è –∏–∑–º–µ–Ω–µ–Ω–∏—è –≤ —Å—É—â–µ—Å—Ç–≤—É—é—â—É—é –º–æ–¥–µ–ª—å –≤ —á–∞—Å—Ç–∏ –∏—Å–∫–ª—é—á–µ–Ω–∏—è –º–∞–ª–æ–≤–∞–∂–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏–∑ –º–æ–¥–µ–ª–∏

9. –û—Ü–µ–Ω–∫–∞ —Ç–æ—á–Ω–æ—Å—Ç–∏ –º–æ–¥–µ–ª–∏, –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ –º–∞—Ç—Ä–∏—Ü—ã –æ—à–∏–±–æ–∫

10. –°–æ–∑–¥–∞–Ω–∏–µ –æ—Ç—á–µ—Ç–∞

<div class="alert alert-success">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–ø–ª–∞–Ω) <a class="tocSkip"> </h3> 
    
<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ! üëç:</b> –ü–æ—Ç—Ä—è—Å–∞—é—â–∏–π –ø–ª–∞–Ω, —Å–æ –≤—Å–µ–º–∏ –¥–µ—Ç–∞–ª—è–º–∏!

### –í–æ–ø—Ä–æ—Å—ã –∫ –∑–∞–∫–∞–∑—á–∏–∫—É:

1. –ò–º–µ–µ—Ç—Å—è –ª–∏ —Å–≤–µ–¥–µ–Ω–∏—è –æ –≤—Ä–µ–º–µ–Ω–∏ –≤—ã—Ö–æ–¥–∞ –∞–±–æ–Ω–µ–Ω—Ç–∞ –≤ —Å–µ—Ç—å(–µ—Å–ª–∏ —ç—Ç–æ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç), –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –ø—Ä–µ–±—ã–≤–∞–Ω–∏—è, —Å—Ä–µ–¥–Ω–µ–π —Å–∫–æ—Ä–æ—Å—Ç–∏ –Ω–∞ –∫–∞–Ω–∞–ª–µ 
(–í–æ–∑–º–æ–∂–Ω–æ –ø–æ–∫–∏–Ω—É–≤—à–∏–π –Ω–µ–¥–æ–≤–æ–ª–µ–Ω —Å–∫–æ—Ä–æ—Å—Ç—å—é, –∞ –ø–æ–ª—å–∑—É–µ—Ç—Å—è –≤ —á–∞—Å—ã –ø–∏–∫–æ–≤–æ–π –Ω–∞–≥—Ä—É–∑–∫–∏)<br>
2. –ö–∞–∫–∏–µ —Å–∫–∏–¥–∫–∏, —É–ª—É—á—à–µ–Ω–∏—è –∏ –ø—Ä–æ—á–µ–µ –ø—Ä–æ–≤–∞–π–¥–µ—Ä –≤ –ø—Ä–∏–Ω—Ü–∏–ø–µ –º–æ–∂–µ—Ç –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –∫–ª–∏–µ–Ω—Ç–∞–º (–≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —ç—Ç–æ–≥–æ –º–æ–∂–µ—Ç –∏–∑–º–µ–Ω—è—Ç—å—Å—è –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –∏ —Å–∞–º–∏ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ–º—ã–µ –¥–∞–Ω–Ω—ã–µ)<br>
3. –ö—Ç–æ –±—É–¥–µ—Ç —á–∏—Ç–∞—Ç—å –æ—Ç—á–µ—Ç –∏ –Ω–∞—Å–∫–æ–ª—å–∫–æ –¥–µ—Ç–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã, –∫—Ç–æ –±—É–¥–µ—Ç –ø—Ä–∏–Ω–∏–º–∞—Ç—å —É–ø—Ä–∞–≤–ª–µ–Ω—á–µ—Å–∫–∏–µ —Ä–µ—à–µ–Ω–∏—è (–æ—Ç —ç—Ç–æ–≥–æ –º–æ–≥—É—Ç –∑–∞–≤–∏—Å–µ—Ç—å –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ–º—ã–µ –≤—ã–≤–æ–¥—ã, –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö)<br>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞:</b>
    
1. –ó–∞–∫–∞–∑—á–∏–∫ –ø–æ–∫–∞ –Ω–µ –≥–æ—Ç–æ–≤ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, –Ω–æ –∏–¥–µ–∏ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã–µ.
    
2. –ö–∞–º–ø–∞–Ω–∏—è –ø–æ —É–¥–µ—Ä–∂–∞–Ω–∏—é –∫–ª–∏–µ–Ω—Ç–æ–≤ –±—É–¥–µ—Ç —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å—Å—è —Å–∫–æ—Ä–µ–µ —É–∂–µ –Ω–∞ –æ—Å–Ω–æ–≤–µ —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–µ–π –Ω–∞—à–µ–π –º–æ–¥–µ–ª–∏, –∞ –Ω–µ –Ω–∞–æ–±–æ—Ä–æ—Ç. –ü–æ—Å–ª–µ —Å–æ–∑–¥–∞–Ω–∏—è –ø—Ä–æ—Ç–æ—Ç–∏–ø–∞ –º–æ–¥–µ–ª–∏, –µ—Å–ª–∏ –æ–Ω —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä–∏—Ç –∑–∞–∫–∞–∑—á–∏–∫–∞, –Ω–∞—á–Ω–µ—Ç—Å—è —ç—Ç–∞–ø –ø—Ä–æ—Ä–∞–±–æ—Ç–∫–∏ –∏ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è —Ä–∞–∑–Ω—ã—Ö —Å—Ç—Ä–∞—Ç–µ–≥–∏–π.
    
3. –û—Ç—á–µ—Ç –±—É–¥–µ—Ç —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å—Å—è –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ã–º –æ—Ç–¥–µ–ª–æ–º –∫–æ–º–ø–∞–Ω–∏–∏ –∏ —Ä—É–∫–æ–≤–æ–¥—Å—Ç–≤–æ–º.

<div style="border:solid Chocolate 2px; padding: 40px">

**–û–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø–ª–∞–Ω—É**

–î–º–∏—Ç—Ä–∏–π, –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –ø—Ä–æ–≤–µ–¥–µ–Ω —Ö–æ—Ä–æ—à–æ, –º–æ–∂–Ω–æ —Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å –ª–∏—à—å –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –º–æ–º–µ–Ω—Ç—ã. –ü–ª–∞–Ω —Å–æ—Å—Ç–∞–≤–ª–µ–Ω —Ä–µ–ª–µ–≤–∞–Ω—Ç–Ω–æ, –ø–æ—ç—Ç–æ–º—É –º–æ–∂–µ–º –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏ –ø–æ—Å–ª–µ–¥—É—é—â–∏—Ö —à–∞–≥–æ–≤.

**–£—Å–ø–µ—Ö–æ–≤!** üòâ

## –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –∏–º–µ–Ω —Å—Ç–æ–ª–±—Ü–æ–≤

–ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –º–æ–¥—É–ª—è **skimpy**

In [97]:
dc = clean_columns(dc)

8 column names have been cleaned

In [98]:
dp = clean_columns(dp)

4 column names have been cleaned

In [99]:
di = clean_columns(di)

8 column names have been cleaned

In [100]:
dph = clean_columns(dph)

2 column names have been cleaned

In [101]:
dc.columns.tolist()

['customer_id',
 'begin_date',
 'end_date',
 'type',
 'paperless_billing',
 'payment_method',
 'monthly_charges',
 'total_charges']

In [102]:
dp.columns.tolist()

['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents']

In [103]:
di.columns.tolist()

['customer_id',
 'internet_service',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies']

In [104]:
dph.columns.tolist()

['customer_id', 'multiple_lines']

### –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö

–°–æ–∑–¥–∞–Ω–∏–µ —Ü–µ–ª–µ–≤–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞

In [105]:
dc['target'] = 0

–ï—Å–ª–∏ –≤ –ø–æ–ª–µ **end_date** –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ, –æ—Ç–ª–∏—á–Ω–æ–µ –æ—Ç **No**, —Ç–æ –≤ –ø–æ–ª–µ *target* —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ—Ç—Å—è **1**

In [106]:
dc.loc[dc['end_date']!='No','target'] = 1

<div class="alert alert-success">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–∫–æ–¥)<a class="tocSkip"> </h3>

<b>–û—Ç–ª–∏—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞!üëç:</b> –û—Ç–ª–∏—á–Ω–æ, —Ç–∞—Ä–≥–µ—Ç —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ: —Ü–µ–ª–µ–≤—ã–º –¥–µ–π—Å—Ç–≤–∏–µ–º —É –Ω–∞—Å —è–≤–ª—è–µ—Ç—Å—è —É—Ö–æ–¥ –∫–ª–∏–µ–Ω—Ç–∞, –ø–æ—ç—Ç–æ–º—É –∏–º–µ–Ω–Ω–æ –µ–≥–æ –ª—É—á—à–µ –æ–±–æ–∑–Ω–∞—á–∏—Ç—å –∑–∞ positive class, —Ç–∞–∫ –∫–∞–∫ –æ—Ç —ç—Ç–æ–≥–æ –∑–∞–≤–∏—Å–∏—Ç –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—è —Ç–µ—Ö –∏–ª–∏ –∏–Ω—ã—Ö –º–µ—Ç—Ä–∏–∫ (–Ω–∞–∏–±–æ–ª–µ–µ –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã–µ –º–µ—Ç—Ä–∏–∫–∏, —Ç–∞–∫–∏–µ –∫–∞–∫ precision, recall, f1, roc-auc, –Ω–∞–ø—Ä–∏–º–µ—Ä, —Ñ–æ–∫—Éc–∏—Ä—É—é—Ç—Å—è –Ω–∞ positive –æ—Ü–µ–Ω–∫–µ, –≤–≤–∏–¥—É —Ç–æ–≥–æ, —á—Ç–æ –Ω–∞–º –≤–∞–∂–Ω–µ–µ —Ä–∞—Å–ø–æ–∑–Ω–∞—Ç—å —É—Ö–æ–¥—è—â–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤, —á–µ–º –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è, —Ç–æ –ª–æ–≥–∏—á–Ω–µ–µ –∑–∞ positive class –æ–±–æ–∑–Ω–∞—á–∏—Ç—å —É—Ö–æ–¥—è—â–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤). –ü–æ–¥—Ä–æ–±–Ω–µ–µ <a href = 'https://medium.com/@asimango/the-positive-class-what-should-it-be-in-a-machine-learning-binary-classification-problem-36c316da1127'>—Ç—É—Ç</a>.

–ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Ç–∏–ø–æ–≤

In [107]:
dc['begin_date'] = pd.to_datetime(dc['begin_date'])

In [108]:
dc['begin_date'].dtype

dtype('<M8[ns]')

In [109]:
dc.shape[0]

7043

–ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ total_charges

In [110]:
#dc = dc.loc[~dc['total_charges'].str.contains(" ")]

In [111]:
dc.loc[dc['total_charges'].str.contains(" "),'total_charges'] = dc['monthly_charges']

In [112]:
dc.shape[0]

7043

In [113]:
dc['total_charges'] = dc['total_charges'].astype(float)

In [114]:
dc['total_charges'].dtype

dtype('float64')

**–†–∞—Å—á–µ—Ç –¥–Ω–µ–π –¥–µ–π—Å—Ç–≤–∏—è –¥–æ–≥–æ–≤–æ—Ä–∞ (contract_lifetime)**

In [115]:
def calc_days_between_date(row):
    '''
    –ú–æ–¥—É–ª—å –¥–ª—è –≤—ã—á–∏—Å–ª–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–Ω–µ–π –º–µ–∂–¥—É –¥–≤—É–º—è –¥–∞—Ç–∞–º–∏
    '''
    
    someday = date(2020,2,1)
    if row['end_date'] == 'No':
        return (someday - row['begin_date'].date()).days
    else:
        return (datetime.strptime(row['end_date'], '%Y-%m-%d').date() - row['begin_date'].date()).days

In [116]:
dc['contract_lifetime'] = dc.apply(calc_days_between_date, axis=1)

<div class="alert alert-success">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–∫–æ–¥)<a class="tocSkip"> </h3>

<b>–û—Ç–ª–∏—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞!üëç:</b> –û—Ç–ª–∏—á–Ω–æ! –ö–ª–∏–µ–Ω—Ç—Å–∫–∏–π —Å—Ç–∞–∂ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –º–æ–∂–µ—Ç –æ–∫–∞–∑–∞—Ç—å—Å—è –ø—Ä–∏–∑–Ω–∞–∫–æ–º —Å –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —Ö–æ—Ä–æ—à–µ–π –æ–±—ä—è—Å–Ω—è—é—â–µ–π —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å—é.

<div class="alert alert-warning">
<h3> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (–∫–æ–¥)<a class="tocSkip"> </h3>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏üí°:</b> Apply —Ä–∞–±–æ—Ç–∞–µ—Ç —Ü–∏–∫–ª–∏—á–Ω–æ, –ø–µ—Ä–µ–±–∏—Ä–∞—è —Å—Ç—Ä–æ–∫—É –∑–∞ —Å—Ç—Ä–æ–∫–æ–π. –†–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∏ –∂–µ numpy –∏ pandas –ø—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ –∫–∞–∫–∏—Ö-—Ç–æ —Ñ—É–Ω–∫—Ü–∏–π –ø–æ—Å—Ç–∞—Ä–∞–ª–∏—Å—å —Å–¥–µ–ª–∞—Ç—å —Ç–∞–∫, —á—Ç–æ–±—ã –ø—Ä–æ–∏–∑–≤–æ–¥–∏–º—ã–µ –≤–Ω—É—Ç—Ä–∏ –Ω–∏—Ö —Ä–∞—Å—á–µ—Ç—ã –±—ã–ª–∏ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–µ–µ —Ü–∏–∫–ª–∏—á–Ω–æ–≥–æ –ø–µ—Ä–µ–±–æ—Ä–∞. –í –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –±—ã–ª–æ –±—ã –ª—É—á—à–µ —Å–Ω–∞—á–∞–ª–∞ –ø—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –∑–∞–º–µ–Ω—É –¥–∞—Ç—ã, –∞ –∑–∞—Ç–µ–º —á–µ—Ä–µ–∑ –≤–µ–∫—Ç–æ—Ä–Ω—ã–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è –Ω–∞–π—Ç–∏ —É–∂–µ —Ä–∞–∑–Ω–∏—Ü—É –¥–∞—Ç.

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π:</b>
    –ü–æ–∫–∞ —Å—Ç–æ–ª–±–µ—Ü end_date –æ—Å—Ç–∞–≤–ª—é –±–µ–∑ –∏–∑–º–µ–Ω–µ–Ω–∏–π. –í–æ–∑–º–æ–∂–Ω–æ, –ø–æ—Å–ª–µ –∞–Ω–∞–ª–∏–∑–∞ –ø—Ä–æ–≤–µ–¥—É –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è. No –∑–∞–º–µ–Ω—é –Ω–∞ 2020-02-01 –∏ –≤—ã–ø–æ–ª–Ω—é —Ä–∞—Å—á–µ—Ç –≤—Ä–µ–º–µ–Ω–∏ –∂–∏–∑–Ω–∏ –¥–µ–π—Å—Ç–≤–∏—è –¥–æ–≥–æ–≤–æ—Ä–∞ –ø–æ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–Ω–æ–º—É —Ç–æ–±–æ–π —Å–ø–æ—Å–æ–±—É
<br>

In [117]:
dc.head(10)

,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges,target,contract_lifetime
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,31.04,0,31
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,2071.84,0,1036
2,3668-QPYBK,2019-10-01,No,Month-to-month,Yes,Mailed check,53.85,226.17,0,123
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1960.60,0,1371
4,9237-HQITU,2019-09-01,No,Month-to-month,Yes,Electronic check,70.70,353.50,0,153
5,9305-CDSKC,2019-03-01,No,Month-to-month,Yes,Electronic check,99.65,1150.96,0,337
6,1452-KIOVK,2018-04-01,No,Month-to-month,Yes,Credit card (automatic),89.10,2058.21,0,671
7,6713-OKOMC,2019-04-01,No,Month-to-month,No,Mailed check,29.75,300.48,0,306
8,7892-POOKP,2017-07-01,No,Month-to-month,Yes,Electronic check,104.80,3573.68,0,945
9,6388-TABGU,2014-12-01,2017-05-01,One year,No,Bank transfer (automatic),56.15,1628.35,1,882

–ß–∏—Å–ª–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç —Ç–æ–ª—å–∫–æ –≤ dc, –ø–æ—ç—Ç–æ–º—É –æ–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏–∑–≤–ª–µ–∫–∞–µ—Ç—Å—è –∏–∑ –Ω–µ–µ

In [118]:
dc.describe()

       monthly_charges  total_charges       target  contract_lifetime
count      7043.000000    7043.000000  7043.000000        7043.000000
mean         64.761692    2115.377573     0.156325         898.555729
std          30.090047    2112.678861     0.363189         683.130510
min          18.250000      19.050000     0.000000           0.000000
25%          35.500000     436.750000     0.000000         276.000000
50%          70.350000    1343.350000     0.000000         761.000000
75%          89.850000    3236.690000     0.000000        1461.000000
max         118.750000    9221.380000     1.000000        2314.000000

–ê–Ω–æ–º–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —á–∏—Å–ª–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–µ –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è

### –°–ª–∏—è–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

In [119]:
df = pd.merge(dc,dp,how='inner')

In [121]:
df = pd.merge(df,di,how='left')

In [124]:
df = pd.merge(df,dph,how='left')

In [126]:
df.head()

,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges,target,contract_lifetime,...,partner,dependents,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,multiple_lines
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,31.04,0,31,...,Yes,No,DSL,No,Yes,No,No,No,No,NaN
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,2071.84,0,1036,...,No,No,DSL,Yes,No,Yes,No,No,No,No
2,3668-QPYBK,2019-10-01,No,Month-to-month,Yes,Mailed check,53.85,226.17,0,123,...,No,No,DSL,Yes,Yes,No,No,No,No,No
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1960.60,0,1371,...,No,No,DSL,Yes,No,Yes,Yes,No,No,NaN
4,9237-HQITU,2019-09-01,No,Month-to-month,Yes,Electronic check,70.70,353.50,0,153,...,No,No,Fiber optic,No,No,No,No,No,No,No

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   begin_date         7043 non-null   datetime64[ns]
 2   end_date           7043 non-null   object
 3   type               7043 non-null   object
 4   paperless_billing  7043 non-null   object
 5   payment_method     7043 non-null   object
 6   monthly_charges    7043 non-null   float64
 7   total_charges      7043 non-null   float64
 8   target             7043 non-null   int64
 9   contract_lifetime  7043 non-null   int64
 10  gender             7043 non-null   object
 11  senior_citizen     7043 non-null   int64
 12  partner            7043 non-null   object
 13  dependents         7043 non-null   object
 14  internet_service   5517 non-null   object
 15  online_security    5517 non-null   object
 16  online_backup      5517 non-null   object
 17  device_protection  5517 non-null   object
 18  tech_support       5517 non-null   object
 19  streaming_tv       5517 non-null   object
 20  streaming_movies   5517 non-null   object
 21  multiple_lines     6361 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(3), object(16)
memory usage: 1.2+ MB

### –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤

–ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ—è–≤–∏–ª–∏—è—Å—å –≤ –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö —Ç–µ—Ö —Å—Ç—Ä–æ–∫, –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–Ω–æ—Å—è—Ç—Å—è –∫ –∞–±–æ–Ω–µ–Ω—Ç–∞–º, –Ω–µ –ø–æ–ª—å–∑—É—é—â–∏–º—Å—è –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–æ–º.<br>
**internet_service** –∑–∞–ø–æ–ª–Ω–∏–º **-1**, —Ç–∞–∫ –∫–∞–∫ –∫–∞–Ω–∞–ª —Å–≤—è–∑–∏ –Ω–µ–∏–∑–≤–µ—Å—Ç–µ–Ω<br>
–ü–æ–ª—è, –æ—Ç–Ω–æ—Å—è—â–∏–µ—Å—è –∫ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç —Å–µ—Ä–≤–∏—Å–∞–º = **No**, —Ç–∞–∫ –∫–∞–∫ –∏–º–∏ –Ω–µ –ø–æ–ª—å–∑—É—é—Ç—Å—è —Ç–µ, –∫—Ç–æ –Ω–µ –ø–æ–ª—å–∑—É–µ—Ç—Å—è –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–æ–º<br>
**multiple_line** –∑–∞–ø–æ–ª–Ω–∏–º **-1**